{"swagger":"2.0","info":{"title":"Mypurecloud","description":"API for api.mypurecloud.com.au","version":"0.0.0"},"host":"api.mypurecloud.com.au","basePath":"/api/v2","schemes":["https"],"paths":{"/analytics/conversations/details/query":{"post":{"tags":["Analytics"],"description":"Get conversations","operationId":"GetConversations","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ConversationQuery","in":"body","description":"ConversationsQuery","required":true,"schema":{"$ref":"#/definitions/ConversationQuery"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Conversations"},"examples":{"application/json":{"conversations":[{"conversationEnd":"2024-06-18T04:47:17.742Z","conversationId":"bc6cdaab-5940-4d59-b0f2-d1a35e4e37ce","conversationStart":"2024-06-18T04:46:56.701Z","divisionIds":["7f3b181a-6e3e-4a67-9418-eda0fbce1683"],"externalTag":"108883","mediaStatsMinConversationMos":4.394646110460073,"mediaStatsMinConversationRFactor":81.13760375976562,"originatingDirection":"outbound","participants":[{"participantId":"05dfc050-0ae7-4e06-95a1-802a1b015009","purpose":"agent","userId":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","sessions":[{"ani":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost","direction":"outbound","dnis":"tel:+61439915528","edgeId":"68b8dfa3-a204-4f77-bdaa-55a4363e9d81","mediaType":"voice","peerId":"72d50fa2-1920-422e-ac30-001991225bd7","protocolCallId":"32aed023-768e-4d2a-92d7-51fd2678dc92","provider":"Edge","remote":"Mobile Number, Australia","sessionDnis":"tel:+61439915528","sessionId":"a95f9ee4-5cfe-42f5-a78d-e28ca1449a89","mediaEndpointStats":[{"codecs":["audio/opus"],"discardedPackets":16,"eventTime":"2024-06-18T04:47:14.421Z","maxLatencyMs":45,"minMos":4.740354786080212,"minRFactor":87.26301574707031,"receivedPackets":860},{"codecs":["audio/opus"],"eventTime":"2024-06-18T04:47:14.488Z","maxLatencyMs":31,"minMos":4.887227611813239,"minRFactor":92.65579223632812,"receivedPackets":769}],"metrics":[{"emitDate":"2024-06-18T04:46:56.701Z","name":"nOutbound","value":1},{"emitDate":"2024-06-18T04:46:57.117Z","name":"tContacting","value":416},{"emitDate":"2024-06-18T04:46:59.022Z","name":"tDialing","value":1905},{"emitDate":"2024-06-18T04:47:14.394Z","name":"tTalk","value":15372},{"emitDate":"2024-06-18T04:47:14.394Z","name":"tTalkComplete","value":15372},{"emitDate":"2024-06-18T04:47:14.396Z","name":"nError","value":1},{"emitDate":"2024-06-18T04:47:17.742Z","name":"tAcw","value":3348},{"emitDate":"2024-06-18T04:47:17.742Z","name":"tHandle","value":21041}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:46:57.117Z","segmentStart":"2024-06-18T04:46:56.701Z","segmentType":"contacting"},{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:46:59.022Z","segmentStart":"2024-06-18T04:46:57.117Z","segmentType":"dialing"},{"conference":false,"disconnectType":"client","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:47:14.394Z","segmentStart":"2024-06-18T04:46:59.022Z","segmentType":"interact"},{"conference":false,"disconnectType":"client","errorCode":"error.ininedgecontrol.session.inactive","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:47:17.742Z","segmentStart":"2024-06-18T04:47:14.394Z","segmentType":"wrapup","wrapUpCode":"01066fe3-5355-4cef-b430-258811cfc4f0"}]}]},{"externalContactId":"8164a49c-8ca7-4986-bde5-5a979a56710b","participantId":"cbad57ae-e7a3-4af6-b679-e608d29c273f","participantName":"Mobile Number, Australia","purpose":"customer","sessions":[{"ani":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost","direction":"outbound","dnis":"tel:+61439915528","edgeId":"3f949862-77c5-4b59-b06c-03462ae3b295","mediaType":"voice","protocolCallId":"a7a21935-004e-4b85-9f58-92bf2e9726d4","provider":"Edge","recording":true,"remoteNameDisplayable":"Mobile Number, Australia","sessionDnis":"tel:+61439915528","sessionId":"72d50fa2-1920-422e-ac30-001991225bd7","mediaEndpointStats":[{"codecs":["audio/opus"],"discardedPackets":34,"eventTime":"2024-06-18T04:47:14.425Z","maxLatencyMs":33,"minMos":4.518073775522884,"minRFactor":81.13760375976562,"receivedPackets":769},{"codecs":["audio/PCMA"],"eventTime":"2024-06-18T04:47:14.465Z","maxLatencyMs":30,"minMos":4.394646110460073,"minRFactor":92.46680450439453,"receivedPackets":720}],"metrics":[{"emitDate":"2024-06-18T04:46:59.030Z","name":"nConnected","value":1},{"emitDate":"2024-06-18T04:47:14.399Z","name":"tConnected","value":15369}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:46:59.030Z","segmentStart":"2024-06-18T04:46:57.117Z","segmentType":"dialing"},{"conference":false,"disconnectType":"peer","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:47:14.399Z","segmentStart":"2024-06-18T04:46:59.030Z","segmentType":"interact"}]}]}]},{"conversationEnd":"2024-06-18T04:24:03.085Z","conversationId":"6be3d0b5-7284-48ea-89c0-b74f588a9c3c","conversationStart":"2024-06-18T04:23:35.722Z","divisionIds":["7f3b181a-6e3e-4a67-9418-eda0fbce1683"],"externalTag":"108883","mediaStatsMinConversationMos":4.394291599306165,"mediaStatsMinConversationRFactor":91.78073120117188,"originatingDirection":"inbound","participants":[{"externalContactId":"8164a49c-8ca7-4986-bde5-5a979a56710b","participantId":"ecc603e9-040e-4d0e-b8f0-fb4927788594","participantName":"Mobile Number, Australia","purpose":"customer","sessions":[{"agentBullseyeRing":1,"ani":"tel:+61439915528","direction":"inbound","dnis":"tel:+61735238802","edgeId":"3f949862-77c5-4b59-b06c-03462ae3b295","mediaType":"voice","protocolCallId":"0FA41426-66710BC70007BFBD-B39F9700","provider":"Edge","recording":true,"remoteNameDisplayable":"Mobile Number, Australia","requestedRoutings":["Bullseye"],"routingRing":1,"selectedAgentId":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","sessionDnis":"tel:+61735238802","sessionId":"e441ce23-3efd-41a6-bd60-de4920f9bb38","usedRouting":"Bullseye","mediaEndpointStats":[{"codecs":["audio/opus"],"eventTime":"2024-06-18T04:23:40.577Z","maxLatencyMs":30,"minMos":4.882549865050033,"minRFactor":92.44974517822266,"receivedPackets":241},{"codecs":["audio/opus"],"eventTime":"2024-06-18T04:23:43.858Z","maxLatencyMs":30,"minMos":4.882757927523937,"minRFactor":92.4588394165039,"receivedPackets":159},{"codecs":["audio/opus"],"discardedPackets":1,"eventTime":"2024-06-18T04:23:59.944Z","maxLatencyMs":30,"minMos":4.874420254725353,"minRFactor":92.09947204589844,"receivedPackets":805},{"codecs":["audio/PCMU"],"eventTime":"2024-06-18T04:24:00.004Z","maxLatencyMs":30,"minMos":4.394291599306165,"minRFactor":92.4495849609375,"receivedPackets":1177}],"metrics":[{"emitDate":"2024-06-18T04:23:35.801Z","name":"nConnected","value":1},{"emitDate":"2024-06-18T04:23:59.916Z","name":"tConnected","value":24115}],"segments":[{"conference":false,"segmentEnd":"2024-06-18T04:23:35.801Z","segmentStart":"2024-06-18T04:23:35.722Z","segmentType":"system"},{"conference":false,"disconnectType":"peer","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:23:59.916Z","segmentStart":"2024-06-18T04:23:35.801Z","segmentType":"interact"}]}]},{"participantId":"a2c49dd7-e695-4739-a56e-a8b88dbb583a","participantName":"LFA Commercial 1300 721 672","purpose":"ivr","sessions":[{"ani":"tel:+61439915528","direction":"inbound","dnis":"tel:+61735238802","edgeId":"68b8dfa3-a204-4f77-bdaa-55a4363e9d81","mediaType":"voice","peerId":"e441ce23-3efd-41a6-bd60-de4920f9bb38","protocolCallId":"c27787c9-7fd7-49fc-945a-41f4d0ef6856","provider":"Edge","remote":"Mobile Number, Australia","remoteNameDisplayable":"Brisbane, Australia","sessionDnis":"tel:+61735238802","sessionId":"bb2ad9b4-cc2d-42f8-8671-913ee2184f98","mediaEndpointStats":[{"codecs":["audio/opus"],"eventTime":"2024-06-18T04:23:40.596Z","maxLatencyMs":30,"minMos":4.88252255673013,"minRFactor":92.44855499267578,"receivedPackets":241}],"flow":{"endingLanguage":"en-au","entryReason":"tel:+61735238802","entryType":"dnis","exitReason":"TRANSFER","flowId":"d0eac68a-31c4-4c14-971f-386fd0feb802","flowName":"LFA Commercial 1300 721 672","flowType":"INBOUNDCALL","flowVersion":"5.0","startingLanguage":"en-au","transferTargetAddress":"2581d1f1-9044-40dd-a993-27f9b9d69a17","transferTargetName":"Commercial","transferType":"ACD","outcomes":[{"flowOutcome":"7cca8bf2-748f-418a-a8fd-016111dc6193:SUCCESS","flowOutcomeEndTimestamp":"2024-06-18T04:23:36.591Z","flowOutcomeId":"7cca8bf2-748f-418a-a8fd-016111dc6193","flowOutcomeStartTimestamp":"2024-06-18T04:23:36.591Z","flowOutcomeValue":"SUCCESS"}]},"metrics":[{"emitDate":"2024-06-18T04:23:36.389Z","name":"nFlow","value":1},{"emitDate":"2024-06-18T04:23:36.591Z","name":"nFlowOutcome","value":1},{"emitDate":"2024-06-18T04:23:36.591Z","name":"tFlowOutcome","value":1},{"emitDate":"2024-06-18T04:23:40.543Z","name":"tIvr","value":4808},{"emitDate":"2024-06-18T04:23:40.547Z","name":"tFlow","value":4158},{"emitDate":"2024-06-18T04:23:40.547Z","name":"tFlowExit","value":4158}],"segments":[{"conference":false,"segmentEnd":"2024-06-18T04:23:35.735Z","segmentStart":"2024-06-18T04:23:35.723Z","segmentType":"system"},{"conference":false,"disconnectType":"transfer","segmentEnd":"2024-06-18T04:23:40.543Z","segmentStart":"2024-06-18T04:23:35.735Z","segmentType":"ivr"}]}]},{"participantId":"3ecc3e9a-73a8-4189-b1ff-e5df9bfa808e","participantName":"Commercial","purpose":"acd","sessions":[{"agentBullseyeRing":1,"ani":"tel:+61439915528","destinationAddresses":["sip:troy%40straticom.com.au@localhost"],"direction":"inbound","dnis":"tel:+61735238802","edgeId":"3f949862-77c5-4b59-b06c-03462ae3b295","flowInType":"ivr","mediaType":"voice","peerId":"e441ce23-3efd-41a6-bd60-de4920f9bb38","protocolCallId":"8b64141b-cbdf-4b7f-bb9d-6b8a9258b548","provider":"Edge","remote":"Mobile Number, Australia","remoteNameDisplayable":"Commercial","requestedRoutings":["Bullseye"],"routingRing":1,"selectedAgentId":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","sessionDnis":"tel:+61735238802","sessionId":"f6499408-d258-4468-a49e-d077c4b4a7be","usedRouting":"Bullseye","mediaEndpointStats":[{"codecs":["audio/opus"],"eventTime":"2024-06-18T04:23:43.858Z","maxLatencyMs":30,"minMos":4.882521209417593,"minRFactor":92.44849395751953,"receivedPackets":159}],"flow":{"flowId":"b5012618-32ba-4885-97f6-28829692a607","flowName":"24_7","flowType":"INQUEUECALL","flowVersion":"4.0","startingLanguage":"en-au"},"metrics":[{"emitDate":"2024-06-18T04:23:40.597Z","name":"nOffered","value":1},{"emitDate":"2024-06-18T04:23:43.805Z","name":"tAcd","value":3208}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:23:40.597Z","segmentStart":"2024-06-18T04:23:40.546Z","segmentType":"delay"},{"conference":false,"disconnectType":"transfer","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:23:43.805Z","segmentStart":"2024-06-18T04:23:40.597Z","segmentType":"interact","sipResponseCodes":[410]}]}]},{"participantId":"bb917d19-7492-4395-a5c5-1effa73a0bb3","purpose":"agent","userId":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","sessions":[{"agentBullseyeRing":1,"ani":"tel:+61439915528","direction":"inbound","dnis":"tel:+61735238802","edgeId":"68b8dfa3-a204-4f77-bdaa-55a4363e9d81","mediaType":"voice","peerId":"e441ce23-3efd-41a6-bd60-de4920f9bb38","protocolCallId":"7b89bc02-c2e4-4ad9-b5a3-4402424d0ba8","provider":"Edge","remote":"Mobile Number, Australia","requestedRoutings":["Bullseye"],"routingRing":1,"selectedAgentId":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","sessionDnis":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com;tgrp=dc8038f3-e59d-481f-a102-a05d71624be1;trunk-context=lifeflight@localhost","sessionId":"9565382a-7dbb-4c91-a9f2-d85e4a51a4ad","usedRouting":"Bullseye","mediaEndpointStats":[{"codecs":["audio/opus"],"discardedPackets":1,"eventTime":"2024-06-18T04:24:00.059Z","maxLatencyMs":41,"minMos":4.866829598895403,"minRFactor":91.78073120117188,"receivedPackets":803},{"codecs":["audio/opus"],"eventTime":"2024-06-18T04:24:00.081Z","maxLatencyMs":40,"minMos":4.876863636974588,"minRFactor":92.20374298095703,"receivedPackets":807}],"metrics":[{"emitDate":"2024-06-18T04:23:43.802Z","name":"tAlert","value":2989},{"emitDate":"2024-06-18T04:23:43.802Z","name":"tAnswered","value":3208},{"emitDate":"2024-06-18T04:23:59.927Z","name":"tTalk","value":16125},{"emitDate":"2024-06-18T04:23:59.927Z","name":"tTalkComplete","value":16125},{"emitDate":"2024-06-18T04:24:03.085Z","name":"tAcw","value":3158},{"emitDate":"2024-06-18T04:24:03.085Z","name":"tHandle","value":19283}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:23:43.802Z","segmentStart":"2024-06-18T04:23:40.813Z","segmentType":"alert"},{"conference":false,"disconnectType":"client","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:23:59.927Z","segmentStart":"2024-06-18T04:23:43.802Z","segmentType":"interact"},{"conference":false,"disconnectType":"client","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-18T04:24:03.085Z","segmentStart":"2024-06-18T04:23:59.927Z","segmentType":"wrapup","wrapUpCode":"01066fe3-5355-4cef-b430-258811cfc4f0"}]}]}]},{"conversationEnd":"2024-06-17T23:28:41.056Z","conversationId":"ddb7d3c6-35f9-4752-9558-544bd08f5ab5","conversationStart":"2024-06-17T23:28:25.032Z","divisionIds":["7f3b181a-6e3e-4a67-9418-eda0fbce1683"],"externalTag":"108281","mediaStatsMinConversationMos":4.394630353611898,"mediaStatsMinConversationRFactor":91.56269836425781,"originatingDirection":"outbound","participants":[{"participantId":"c0c08fb6-5bed-4599-9978-38111fce63a1","purpose":"agent","userId":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","sessions":[{"ani":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost","direction":"outbound","dnis":"tel:+61439915528","edgeId":"68b8dfa3-a204-4f77-bdaa-55a4363e9d81","mediaType":"voice","peerId":"2d3d4f2d-5e88-486b-806c-caeef94a13b3","protocolCallId":"52272186-01a8-47ad-9b4e-95018849b101","provider":"Edge","remote":"Mobile Number, Australia","sessionDnis":"tel:+61439915528","sessionId":"4f2ad1da-c7bd-44d6-85b6-6794d4029bd6","mediaEndpointStats":[{"codecs":["audio/opus"],"discardedPackets":2,"eventTime":"2024-06-17T23:28:38.126Z","maxLatencyMs":30,"minMos":4.861532247374887,"minRFactor":91.56269836425781,"receivedPackets":631},{"codecs":["audio/opus"],"eventTime":"2024-06-17T23:28:38.148Z","maxLatencyMs":30,"minMos":4.887499075381236,"minRFactor":92.66786193847656,"receivedPackets":471}],"metrics":[{"emitDate":"2024-06-17T23:28:25.032Z","name":"nOutbound","value":1},{"emitDate":"2024-06-17T23:28:25.388Z","name":"tContacting","value":356},{"emitDate":"2024-06-17T23:28:28.630Z","name":"tDialing","value":3242},{"emitDate":"2024-06-17T23:28:38.074Z","name":"tTalk","value":9444},{"emitDate":"2024-06-17T23:28:38.074Z","name":"tTalkComplete","value":9444},{"emitDate":"2024-06-17T23:28:41.056Z","name":"tAcw","value":2982},{"emitDate":"2024-06-17T23:28:41.056Z","name":"tHandle","value":16024}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:28:25.388Z","segmentStart":"2024-06-17T23:28:25.032Z","segmentType":"contacting"},{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:28:28.630Z","segmentStart":"2024-06-17T23:28:25.388Z","segmentType":"dialing"},{"conference":false,"disconnectType":"client","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:28:38.074Z","segmentStart":"2024-06-17T23:28:28.630Z","segmentType":"interact"},{"conference":false,"disconnectType":"client","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:28:41.056Z","segmentStart":"2024-06-17T23:28:38.074Z","segmentType":"wrapup","wrapUpCode":"01066fe3-5355-4cef-b430-258811cfc4f0"}]}]},{"externalContactId":"8164a49c-8ca7-4986-bde5-5a979a56710b","participantId":"367b46ce-c752-4a72-8ef2-bedecea49e32","participantName":"Mobile Number, Australia","purpose":"customer","sessions":[{"ani":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost","direction":"outbound","dnis":"tel:+61439915528","edgeId":"3f949862-77c5-4b59-b06c-03462ae3b295","mediaType":"voice","protocolCallId":"bf3c42d0-3fa0-4c3f-ba4b-5930227e8ba8","provider":"Edge","recording":true,"remoteNameDisplayable":"Mobile Number, Australia","sessionDnis":"tel:+61439915528","sessionId":"2d3d4f2d-5e88-486b-806c-caeef94a13b3","mediaEndpointStats":[{"codecs":["audio/opus"],"eventTime":"2024-06-17T23:28:38.102Z","maxLatencyMs":30,"minMos":4.880938594108192,"minRFactor":92.37954711914062,"receivedPackets":472},{"codecs":["audio/PCMA"],"eventTime":"2024-06-17T23:28:38.153Z","maxLatencyMs":30,"minMos":4.394630353611898,"minRFactor":92.4660415649414,"receivedPackets":422}],"metrics":[{"emitDate":"2024-06-17T23:28:28.621Z","name":"nConnected","value":1},{"emitDate":"2024-06-17T23:28:38.074Z","name":"tConnected","value":9453}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:28:28.621Z","segmentStart":"2024-06-17T23:28:25.388Z","segmentType":"dialing"},{"conference":false,"disconnectType":"peer","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:28:38.074Z","segmentStart":"2024-06-17T23:28:28.621Z","segmentType":"interact"}]}]}]},{"conversationEnd":"2024-06-17T23:12:13.733Z","conversationId":"9f500cfc-9d3b-4213-9e6e-4b7ce6a12274","conversationStart":"2024-06-17T23:11:39.737Z","divisionIds":["7f3b181a-6e3e-4a67-9418-eda0fbce1683"],"externalTag":"108428","mediaStatsMinConversationMos":4.394297295381648,"mediaStatsMinConversationRFactor":79.01142883300781,"originatingDirection":"outbound","participants":[{"participantId":"8f398614-ddef-40c4-9cf5-108e8803a8b9","purpose":"agent","userId":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","sessions":[{"ani":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost","direction":"outbound","dnis":"tel:+61439915528","edgeId":"68b8dfa3-a204-4f77-bdaa-55a4363e9d81","mediaType":"voice","peerId":"9396943c-91a9-4801-9fae-cbbddb6bf9ef","protocolCallId":"a504540d-9918-4c35-a41e-1081b775fbfe","provider":"Edge","remote":"Mobile Number, Australia","sessionDnis":"tel:+61439915528","sessionId":"ac168abc-5d52-40c1-a0f3-4da312441605","mediaEndpointStats":[{"codecs":["audio/opus"],"discardedPackets":27,"eventTime":"2024-06-17T23:12:00.897Z","maxLatencyMs":51,"minMos":4.668102169756327,"minRFactor":85.1001968383789,"receivedPackets":1028},{"codecs":["audio/opus"],"eventTime":"2024-06-17T23:12:00.919Z","maxLatencyMs":30,"minMos":4.887613596895223,"minRFactor":92.6729507446289,"receivedPackets":864}],"metrics":[{"emitDate":"2024-06-17T23:11:39.737Z","name":"nOutbound","value":1},{"emitDate":"2024-06-17T23:11:40.230Z","name":"tContacting","value":493},{"emitDate":"2024-06-17T23:11:43.591Z","name":"tDialing","value":3361},{"emitDate":"2024-06-17T23:12:00.866Z","name":"nError","value":1},{"emitDate":"2024-06-17T23:12:00.866Z","name":"tTalk","value":17275},{"emitDate":"2024-06-17T23:12:00.866Z","name":"tTalkComplete","value":17275},{"emitDate":"2024-06-17T23:12:13.733Z","name":"tAcw","value":12867},{"emitDate":"2024-06-17T23:12:13.733Z","name":"tHandle","value":33996}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:11:40.230Z","segmentStart":"2024-06-17T23:11:39.737Z","segmentType":"contacting"},{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:11:43.591Z","segmentStart":"2024-06-17T23:11:40.230Z","segmentType":"dialing"},{"conference":false,"disconnectType":"client","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:12:00.866Z","segmentStart":"2024-06-17T23:11:43.591Z","segmentType":"interact"},{"conference":false,"disconnectType":"client","errorCode":"error.ininedgecontrol.session.inactive","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:12:13.733Z","segmentStart":"2024-06-17T23:12:00.866Z","segmentType":"wrapup","wrapUpCode":"01066fe3-5355-4cef-b430-258811cfc4f0"}]}]},{"externalContactId":"8164a49c-8ca7-4986-bde5-5a979a56710b","participantId":"43a8f818-d1f8-4caf-9d0c-da5496b15544","participantName":"Mobile Number, Australia","purpose":"customer","sessions":[{"ani":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost","direction":"outbound","dnis":"tel:+61439915528","edgeId":"68b8dfa3-a204-4f77-bdaa-55a4363e9d81","mediaType":"voice","protocolCallId":"021d43dd-93a0-420a-871f-7de0c5cdc4a2","provider":"Edge","recording":true,"remoteNameDisplayable":"Mobile Number, Australia","sessionDnis":"tel:+61439915528","sessionId":"9396943c-91a9-4801-9fae-cbbddb6bf9ef","mediaEndpointStats":[{"codecs":["audio/opus"],"discardedPackets":44,"eventTime":"2024-06-17T23:12:00.898Z","maxLatencyMs":39,"minMos":4.428990443160558,"minRFactor":79.01142883300781,"receivedPackets":862},{"codecs":["audio/PCMA"],"eventTime":"2024-06-17T23:12:00.919Z","maxLatencyMs":30,"minMos":4.394297295381648,"minRFactor":92.44985961914062,"receivedPackets":817}],"metrics":[{"emitDate":"2024-06-17T23:11:43.571Z","name":"nConnected","value":1},{"emitDate":"2024-06-17T23:12:00.868Z","name":"tConnected","value":17297}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:11:43.571Z","segmentStart":"2024-06-17T23:11:40.230Z","segmentType":"dialing"},{"conference":false,"disconnectType":"peer","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:12:00.868Z","segmentStart":"2024-06-17T23:11:43.571Z","segmentType":"interact"}]}]}]},{"conversationEnd":"2024-06-17T23:08:19.526Z","conversationId":"be3b3eb0-0cd7-488b-9177-4e4c2562df52","conversationStart":"2024-06-17T23:06:20.111Z","divisionIds":["7f3b181a-6e3e-4a67-9418-eda0fbce1683"],"externalTag":"108556","mediaStatsMinConversationMos":4.394229928697615,"mediaStatsMinConversationRFactor":91.29607391357422,"originatingDirection":"outbound","participants":[{"participantId":"0c1f21ae-9a96-4a31-af8f-8b46938b36e5","purpose":"agent","userId":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","sessions":[{"ani":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost","direction":"outbound","dnis":"tel:+61439915528","edgeId":"68b8dfa3-a204-4f77-bdaa-55a4363e9d81","mediaType":"voice","peerId":"8b1f6c4b-5f91-4c02-9843-bdae8e5b1ec0","protocolCallId":"4606435b-7bbc-4ef3-807d-f5d78069ba09","provider":"Edge","remote":"Mobile Number, Australia","sessionDnis":"tel:+61439915528","sessionId":"036c6948-6d2f-4ca2-b747-c7221ea2727c","mediaEndpointStats":[{"codecs":["audio/opus"],"discardedPackets":20,"eventTime":"2024-06-17T23:08:16.322Z","maxLatencyMs":46,"minMos":4.854938956426861,"minRFactor":91.29607391357422,"receivedPackets":5780},{"codecs":["audio/opus"],"eventTime":"2024-06-17T23:08:16.327Z","maxLatencyMs":30,"minMos":4.888200189224896,"minRFactor":92.6990737915039,"receivedPackets":5483}],"metrics":[{"emitDate":"2024-06-17T23:06:20.111Z","name":"nOutbound","value":1},{"emitDate":"2024-06-17T23:06:20.591Z","name":"tContacting","value":480},{"emitDate":"2024-06-17T23:06:26.588Z","name":"tDialing","value":5997},{"emitDate":"2024-06-17T23:08:16.271Z","name":"tTalk","value":109683},{"emitDate":"2024-06-17T23:08:16.271Z","name":"tTalkComplete","value":109683},{"emitDate":"2024-06-17T23:08:19.526Z","name":"tAcw","value":3255},{"emitDate":"2024-06-17T23:08:19.526Z","name":"tHandle","value":119415}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:06:20.591Z","segmentStart":"2024-06-17T23:06:20.111Z","segmentType":"contacting"},{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:06:26.588Z","segmentStart":"2024-06-17T23:06:20.591Z","segmentType":"dialing"},{"conference":false,"disconnectType":"client","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:08:16.271Z","segmentStart":"2024-06-17T23:06:26.588Z","segmentType":"interact"},{"conference":false,"disconnectType":"client","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:08:19.526Z","segmentStart":"2024-06-17T23:08:16.271Z","segmentType":"wrapup","wrapUpCode":"01066fe3-5355-4cef-b430-258811cfc4f0"}]}]},{"externalContactId":"8164a49c-8ca7-4986-bde5-5a979a56710b","participantId":"2f9505f2-2e46-4f61-9d6a-a789c58110d4","participantName":"Mobile Number, Australia","purpose":"customer","sessions":[{"ani":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost","direction":"outbound","dnis":"tel:+61439915528","edgeId":"68b8dfa3-a204-4f77-bdaa-55a4363e9d81","mediaType":"voice","protocolCallId":"082276cf-6782-44da-b9f5-02ee5eae4bd4","provider":"Edge","recording":true,"remoteNameDisplayable":"Mobile Number, Australia","sessionDnis":"tel:+61439915528","sessionId":"8b1f6c4b-5f91-4c02-9843-bdae8e5b1ec0","mediaEndpointStats":[{"codecs":["audio/opus"],"discardedPackets":18,"eventTime":"2024-06-17T23:08:16.323Z","maxLatencyMs":46,"minMos":4.856005603902331,"minRFactor":91.33885955810547,"receivedPackets":5483},{"codecs":["audio/PCMA"],"eventTime":"2024-06-17T23:08:16.328Z","maxLatencyMs":30,"minMos":4.394229928697615,"minRFactor":92.44659423828125,"receivedPackets":5435}],"metrics":[{"emitDate":"2024-06-17T23:06:26.578Z","name":"nConnected","value":1},{"emitDate":"2024-06-17T23:08:16.273Z","name":"tConnected","value":109695}],"segments":[{"conference":false,"queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:06:26.578Z","segmentStart":"2024-06-17T23:06:20.584Z","segmentType":"dialing"},{"conference":false,"disconnectType":"peer","queueId":"2581d1f1-9044-40dd-a993-27f9b9d69a17","segmentEnd":"2024-06-17T23:08:16.273Z","segmentStart":"2024-06-17T23:06:26.578Z","segmentType":"interact"}]}]}]}],"totalHits":5}}}},"security":[]}},"/routing/queues/{QueueId}":{"get":{"tags":["Routing"],"description":"Get queue","operationId":"GetQueue","produces":["application/json"],"parameters":[{"name":"QueueId","in":"path","description":"Queue ID","required":true,"type":"string","x-example":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Queue"},"examples":{"application/json":{"id":"2581d1f1-9044-40dd-a993-27f9b9d69a17","name":"Commercial","division":{"id":"7f3b181a-6e3e-4a67-9418-eda0fbce1683","name":"Home","selfUri":"/api/v2/authorization/divisions/7f3b181a-6e3e-4a67-9418-eda0fbce1683"},"dateCreated":"2024-04-11T03:02:52.686Z","dateModified":"2024-06-18T04:46:43.951Z","modifiedBy":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","createdBy":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","memberCount":23,"userMemberCount":4,"joinedMemberCount":22,"mediaSettings":{"call":{"alertingTimeoutSeconds":15,"serviceLevel":{"percentage":0.8,"durationMs":20000}},"callback":{"alertingTimeoutSeconds":30,"serviceLevel":{"percentage":0.8,"durationMs":20000},"enableAutoDialAndEnd":false,"autoDialDelaySeconds":300,"autoEndDelaySeconds":300},"chat":{"alertingTimeoutSeconds":30,"serviceLevel":{"percentage":0.8,"durationMs":20000}},"email":{"alertingTimeoutSeconds":300,"serviceLevel":{"percentage":0.8,"durationMs":86400000}},"message":{"alertingTimeoutSeconds":30,"serviceLevel":{"percentage":0.8,"durationMs":20000}}},"bullseye":{"rings":[{"expansionCriteria":[{"type":"TIMEOUT_SECONDS","threshold":0.0}],"memberGroups":[{"id":"05daff5f-b643-4385-a503-3e937f817f10","name":"!APP Genesys Aeromedical Evacuation Specialists","type":"GROUP","memberCount":5,"selfUri":"/api/v2/groups/05daff5f-b643-4385-a503-3e937f817f10"},{"id":"3ad1dac9-4cd9-4187-9978-8021f09081b3","name":"!APP Genesys Aviation Coordination Specialists","type":"GROUP","memberCount":10,"selfUri":"/api/v2/groups/3ad1dac9-4cd9-4187-9978-8021f09081b3"}]},{"expansionCriteria":[{"type":"TIMEOUT_SECONDS","threshold":5.0}],"memberGroups":[{"id":"2cc25a1b-b3f6-4ff2-b4a6-fd66d9f0aa32","name":"!APP Genesys Duty Tasking Managers","type":"GROUP","memberCount":3,"selfUri":"/api/v2/groups/2cc25a1b-b3f6-4ff2-b4a6-fd66d9f0aa32"},{"id":"4b0e1777-7353-4637-ada7-798ccef51bb6","name":"!APP Genesys Aviation Operations Supervisors","type":"GROUP","memberCount":4,"selfUri":"/api/v2/groups/4b0e1777-7353-4637-ada7-798ccef51bb6"}]}]},"scoringMethod":"TimestampAndPriority","acwSettings":{"wrapupPrompt":"MANDATORY_TIMEOUT","timeoutMs":30000},"skillEvaluationMethod":"ALL","queueFlow":{"id":"b5012618-32ba-4885-97f6-28829692a607","name":"24_7","selfUri":"/api/v2/flows/b5012618-32ba-4885-97f6-28829692a607"},"autoAnswerOnly":false,"enableTranscription":true,"enableManualAssignment":true,"callingPartyName":"LifeFLlight","callingPartyNumber":"+61735238802","defaultScripts":{"CALL":{"id":"421a89c0-6623-4714-97ec-7710d753d0dd","selfUri":"/api/v2/scripts/421a89c0-6623-4714-97ec-7710d753d0dd"}},"suppressInQueueCallRecording":true,"selfUri":"/api/v2/routing/queues/2581d1f1-9044-40dd-a993-27f9b9d69a17"}}}},"security":[]}},"/speechandtextanalytics/conversations/{ConversationID}/communications/{SessionID}/transcripturl":{"get":{"tags":["Speechandtextanalytics"],"description":"Get transcript","operationId":"GetTranscript","produces":["application/json"],"parameters":[{"name":"ConversationID","in":"path","description":"Conversation ID","required":true,"type":"string","x-example":""},{"name":"SessionID","in":"path","description":"Session ID","required":true,"type":"string","x-example":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Transcript"},"examples":{"application/json":{"url":"https://prod-ap-southeast-2-transcript.s3.ap-southeast-2.amazonaws.com/transcriptsCache/39c8fe52-6c6e-4a68-b476-3bbcd539c2af/bc6cdaab-5940-4d59-b0f2-d1a35e4e37ce/72d50fa2-1920-422e-ac30-001991225bd7-transcriptsS3UrlResponse?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHwaDmFwLXNvdXRoZWFzdC0yIkYwRAIgMCl2bYNJGu8nbMJevijvfE0HT8RY2FH20q4LF3Bk1VECIEtXMZ3n7OmpE1jZFYUKuvy79fREqHpABAhcX02L%2Bsi8KsIFCCUQABoMNzY1NjI4OTg1NDcxIgxhTE2NSfsuM4PqErMqnwUHF16GuEffMMvHnrWBfA9SkjaQWzdutm10vPIpdpoLsjij5k0Usr24i7p4HpNf9fZwqGvzz4t6K8ZPekR9URR56vgC9gWLipT1xRJGIQqTACsu8ff2nqvCigFTheABcDWcinqedlH1PzWQ96qXsk9yR3fhJiQ%2F0kzn6y9ocOEp2zlJTQjcBzJvwDsBOwUwu02O4FHHOvZ9xw%2B2wWpUexxpejG%2F%2FNFSgy2vdQtDEUSPnoGmGYHsXoD1NQGIC%2B0idUlc3YHzptnBpuOoTXpZgrQCSU6g48LWYPug7DANNsOtLFo9hyIqHKgJtJF%2BzdtH6HbQ3Fty6GestJbdRgIK9XeedBNQTF5crQvEucz%2BDgV%2BbFo9ghNeSlT%2FVLZkmCrSYv3xN44MDXymF0SNET%2F5NIrVfG532xFm4rz5HbdgLdKBQY%2FPEpMCWSjrj70oxs%2BN7vlP3s0KJKpDpmWHGq73Wy2UWBwt%2FecTJzCWmAl9GnYgO0jukgcLc6OSsO%2FI3pOfmiUMvVH%2FdFGwXELos0lyY2T4XPvjGwYwk4Mb8zci1VsjIuyAVAfXTEXrflhs31UhDjH%2BHeU5Kngz%2FwhmHdPCeIcBxx8J5B6cbiGZr3XhvEAftn4sVFCdL3Yjma7Rh%2FHkC7YWfCuZhng3cSjcOSGlHY6IJKU7IRV4UZBQhfL8wjuKmeCWyY6sFmf1h0a%2Fhs7vqlntfoOqVSu8S91hOVszObtP6jkVS71xeProgbyYYoODNi%2FyYqxwlNie%2Fn5H3yY0YlGLqksfOdl0ZKIz5ASeyhtVMpnD349XHeFflKzIAR3Yrpe3hdXJv4Fr9m%2Fzu5ftAVKao8IdeF2ERkvOc5BJKoZNSJTbcMiIgupMUaCklLe7ZKSuiTYUtm9%2BomLhg%2F2ANTCHssmzBjqyAQKRigKCqaVp5KLade%2FimKwwZs0abrVEx%2FXjP%2FEBajK%2BWVMX6IsdwK2Dl8SH%2F6oWqmN324synDs%2BVRS%2FtcDN3l8E8JT2OEm95MzvqzIXS8uKYWsnvrMq8U74lzL9Hfnvbcw7fktIOjgGj8beHsURZlj4QZyPadosHUj1M7KVDWdlNel9BbJvwpONaoHhj9qDY6zcnyJ0FCJAcl4H%2BxcFKdPf7eaodQOVb9YFIdk8gEDXNLs%3D\u0026X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Date=20240619T054145Z\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Expires=600\u0026X-Amz-Credential=ASIA3EQYLGB75SW5RMEE%2F20240619%2Fap-southeast-2%2Fs3%2Faws4_request\u0026X-Amz-Signature=872b86b5b7b74868dd9e58e1968a8d516b3488b7b24fc325194cf002c4996743"}}}},"security":[]}},"/users/{UserID}":{"get":{"tags":["Users"],"description":"Get user","operationId":"GetUser","produces":["application/json"],"parameters":[{"name":"UserID","in":"path","description":"User ID","required":true,"type":"string","x-example":""}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"},"examples":{"application/json":{"id":"576a73fe-9507-4b8f-88c7-aee42fd6f26a","name":"Troy Roberts","division":{"id":"7f3b181a-6e3e-4a67-9418-eda0fbce1683","name":"Home","selfUri":"/api/v2/authorization/divisions/7f3b181a-6e3e-4a67-9418-eda0fbce1683"},"chat":{"jabberId":"65f0f75c9775701be53e596e@lifeflight.orgspan.com"},"email":"troy@straticom.com.au","primaryContactInfo":[{"address":"troy@straticom.com.au","mediaType":"EMAIL","type":"PRIMARY"},{"address":"+61735238807","display":"+61 7 3523 8807","mediaType":"PHONE","type":"PRIMARY"}],"addresses":[{"address":"+61735238807","display":"+61 7 3523 8807","mediaType":"PHONE","type":"WORK","countryCode":"AU"}],"state":"active","username":"troy@straticom.com.au","version":27,"acdAutoAnswer":false,"selfUri":"/api/v2/users/576a73fe-9507-4b8f-88c7-aee42fd6f26a"}}}},"security":[]}}},"definitions":{"Participants":{"description":"Model for Participants","required":["participantId"],"properties":{"participantId":{"type":"string","x-example":"05dfc050-0ae7-4e06-95a1-802a1b015009"},"participantName":{"type":"string","x-example":"Mobile Number, Australia"},"purpose":{"type":"string","x-example":"agent"},"sessions":{"type":"array","items":{"$ref":"#/definitions/Sessions"},"x-example":"[\r\n  {\r\n    \"ani\": \"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost\",\r\n    \"direction\": \"outbound\",\r\n    \"dnis\": \"tel:+61439915528\",\r\n    \"edgeId\": \"68b8dfa3-a204-4f77-bdaa-55a4363e9d81\",\r\n    \"mediaType\": \"voice\",\r\n    \"peerId\": \"72d50fa2-1920-422e-ac30-001991225bd7\",\r\n    \"protocolCallId\": \"32aed023-768e-4d2a-92d7-51fd2678dc92\",\r\n    \"provider\": \"Edge\",\r\n    \"remote\": \"Mobile Number, Australia\",\r\n    \"sessionDnis\": \"tel:+61439915528\",\r\n    \"sessionId\": \"a95f9ee4-5cfe-42f5-a78d-e28ca1449a89\",\r\n    \"mediaEndpointStats\": [\r\n      {\r\n        \"codecs\": [\r\n          \"audio/opus\"\r\n        ],\r\n        \"discardedPackets\": 16,\r\n        \"eventTime\": \"2024-06-18T04:47:14.421Z\",\r\n        \"maxLatencyMs\": 45,\r\n        \"minMos\": 4.740354786080212,\r\n        \"minRFactor\": 87.26301574707031,\r\n        \"receivedPackets\": 860\r\n      },\r\n      {\r\n        \"codecs\": [\r\n          \"audio/opus\"\r\n        ],\r\n        \"eventTime\": \"2024-06-18T04:47:14.488Z\",\r\n        \"maxLatencyMs\": 31,\r\n        \"minMos\": 4.887227611813239,\r\n        \"minRFactor\": 92.65579223632812,\r\n        \"receivedPackets\": 769\r\n      }\r\n    ],\r\n    \"metrics\": [\r\n      {\r\n        \"emitDate\": \"2024-06-18T04:46:56.701Z\",\r\n        \"name\": \"nOutbound\",\r\n        \"value\": 1\r\n      },\r\n      {\r\n        \"emitDate\": \"2024-06-18T04:46:57.117Z\",\r\n        \"name\": \"tContacting\",\r\n        \"value\": 416\r\n      },\r\n      {\r\n        \"emitDate\": \"2024-06-18T04:46:59.022Z\",\r\n        \"name\": \"tDialing\",\r\n        \"value\": 1905\r\n      },\r\n      {\r\n        \"emitDate\": \"2024-06-18T04:47:14.394Z\",\r\n        \"name\": \"tTalk\",\r\n        \"value\": 15372\r\n      },\r\n      {\r\n        \"emitDate\": \"2024-06-18T04:47:14.394Z\",\r\n        \"name\": \"tTalkComplete\",\r\n        \"value\": 15372\r\n      },\r\n      {\r\n        \"emitDate\": \"2024-06-18T04:47:14.396Z\",\r\n        \"name\": \"nError\",\r\n        \"value\": 1\r\n      },\r\n      {\r\n        \"emitDate\": \"2024-06-18T04:47:17.742Z\",\r\n        \"name\": \"tAcw\",\r\n        \"value\": 3348\r\n      },\r\n      {\r\n        \"emitDate\": \"2024-06-18T04:47:17.742Z\",\r\n        \"name\": \"tHandle\",\r\n        \"value\": 21041\r\n      }\r\n    ],\r\n    \"segments\": [\r\n      {\r\n        \"conference\": false,\r\n        \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\r\n        \"segmentEnd\": \"2024-06-18T04:46:57.117Z\",\r\n        \"segmentStart\": \"2024-06-18T04:46:56.701Z\",\r\n        \"segmentType\": \"contacting\"\r\n      },\r\n      {\r\n        \"conference\": false,\r\n        \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\r\n        \"segmentEnd\": \"2024-06-18T04:46:59.022Z\",\r\n        \"segmentStart\": \"2024-06-18T04:46:57.117Z\",\r\n        \"segmentType\": \"dialing\"\r\n      },\r\n      {\r\n        \"conference\": false,\r\n        \"disconnectType\": \"client\",\r\n        \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\r\n        \"segmentEnd\": \"2024-06-18T04:47:14.394Z\",\r\n        \"segmentStart\": \"2024-06-18T04:46:59.022Z\",\r\n        \"segmentType\": \"interact\"\r\n      },\r\n      {\r\n        \"conference\": false,\r\n        \"disconnectType\": \"client\",\r\n        \"errorCode\": \"error.ininedgecontrol.session.inactive\",\r\n        \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\r\n        \"segmentEnd\": \"2024-06-18T04:47:17.742Z\",\r\n        \"segmentStart\": \"2024-06-18T04:47:14.394Z\",\r\n        \"segmentType\": \"wrapup\",\r\n        \"wrapUpCode\": \"01066fe3-5355-4cef-b430-258811cfc4f0\"\r\n      }\r\n    ]\r\n  }\r\n]"},"userId":{"type":"string","x-example":"576a73fe-9507-4b8f-88c7-aee42fd6f26a"}}},"Transcript":{"description":"Model for Transcript","required":["url"],"properties":{"url":{"type":"string","x-example":"https://prod-ap-southeast-2-transcript.s3.ap-southeast-2.amazonaws.com/transcriptsCache/39c8fe52-6c6e-4a68-b476-3bbcd539c2af/bc6cdaab-5940-4d59-b0f2-d1a35e4e37ce/72d50fa2-1920-422e-ac30-001991225bd7-transcriptsS3UrlResponse?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEHwaDmFwLXNvdXRoZWFzdC0yIkYwRAIgMCl2bYNJGu8nbMJevijvfE0HT8RY2FH20q4LF3Bk1VECIEtXMZ3n7OmpE1jZFYUKuvy79fREqHpABAhcX02L%2Bsi8KsIFCCUQABoMNzY1NjI4OTg1NDcxIgxhTE2NSfsuM4PqErMqnwUHF16GuEffMMvHnrWBfA9SkjaQWzdutm10vPIpdpoLsjij5k0Usr24i7p4HpNf9fZwqGvzz4t6K8ZPekR9URR56vgC9gWLipT1xRJGIQqTACsu8ff2nqvCigFTheABcDWcinqedlH1PzWQ96qXsk9yR3fhJiQ%2F0kzn6y9ocOEp2zlJTQjcBzJvwDsBOwUwu02O4FHHOvZ9xw%2B2wWpUexxpejG%2F%2FNFSgy2vdQtDEUSPnoGmGYHsXoD1NQGIC%2B0idUlc3YHzptnBpuOoTXpZgrQCSU6g48LWYPug7DANNsOtLFo9hyIqHKgJtJF%2BzdtH6HbQ3Fty6GestJbdRgIK9XeedBNQTF5crQvEucz%2BDgV%2BbFo9ghNeSlT%2FVLZkmCrSYv3xN44MDXymF0SNET%2F5NIrVfG532xFm4rz5HbdgLdKBQY%2FPEpMCWSjrj70oxs%2BN7vlP3s0KJKpDpmWHGq73Wy2UWBwt%2FecTJzCWmAl9GnYgO0jukgcLc6OSsO%2FI3pOfmiUMvVH%2FdFGwXELos0lyY2T4XPvjGwYwk4Mb8zci1VsjIuyAVAfXTEXrflhs31UhDjH%2BHeU5Kngz%2FwhmHdPCeIcBxx8J5B6cbiGZr3XhvEAftn4sVFCdL3Yjma7Rh%2FHkC7YWfCuZhng3cSjcOSGlHY6IJKU7IRV4UZBQhfL8wjuKmeCWyY6sFmf1h0a%2Fhs7vqlntfoOqVSu8S91hOVszObtP6jkVS71xeProgbyYYoODNi%2FyYqxwlNie%2Fn5H3yY0YlGLqksfOdl0ZKIz5ASeyhtVMpnD349XHeFflKzIAR3Yrpe3hdXJv4Fr9m%2Fzu5ftAVKao8IdeF2ERkvOc5BJKoZNSJTbcMiIgupMUaCklLe7ZKSuiTYUtm9%2BomLhg%2F2ANTCHssmzBjqyAQKRigKCqaVp5KLade%2FimKwwZs0abrVEx%2FXjP%2FEBajK%2BWVMX6IsdwK2Dl8SH%2F6oWqmN324synDs%2BVRS%2FtcDN3l8E8JT2OEm95MzvqzIXS8uKYWsnvrMq8U74lzL9Hfnvbcw7fktIOjgGj8beHsURZlj4QZyPadosHUj1M7KVDWdlNel9BbJvwpONaoHhj9qDY6zcnyJ0FCJAcl4H%2BxcFKdPf7eaodQOVb9YFIdk8gEDXNLs%3D\u0026X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Date=20240619T054145Z\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Expires=600\u0026X-Amz-Credential=ASIA3EQYLGB75SW5RMEE%2F20240619%2Fap-southeast-2%2Fs3%2Faws4_request\u0026X-Amz-Signature=872b86b5b7b74868dd9e58e1968a8d516b3488b7b24fc325194cf002c4996743"}}},"Queue":{"description":"Model for Queue","required":["acwSettings"],"properties":{"acwSettings":{"$ref":"#/definitions/AcwSettings","x-example":"{\n  \"wrapupPrompt\": \"MANDATORY_TIMEOUT\",\n  \"timeoutMs\": 30000\n}"},"autoAnswerOnly":{"type":"boolean","x-example":"false"},"bullseye":{"$ref":"#/definitions/Bullseye","x-example":"{\n  \"rings\": [\n    {\n      \"expansionCriteria\": [\n        {\n          \"type\": \"TIMEOUT_SECONDS\",\n          \"threshold\": 0.0\n        }\n      ],\n      \"memberGroups\": [\n        {\n          \"id\": \"05daff5f-b643-4385-a503-3e937f817f10\",\n          \"name\": \"!APP Genesys Aeromedical Evacuation Specialists\",\n          \"type\": \"GROUP\",\n          \"memberCount\": 5,\n          \"selfUri\": \"/api/v2/groups/05daff5f-b643-4385-a503-3e937f817f10\"\n        },\n        {\n          \"id\": \"3ad1dac9-4cd9-4187-9978-8021f09081b3\",\n          \"name\": \"!APP Genesys Aviation Coordination Specialists\",\n          \"type\": \"GROUP\",\n          \"memberCount\": 10,\n          \"selfUri\": \"/api/v2/groups/3ad1dac9-4cd9-4187-9978-8021f09081b3\"\n        }\n      ]\n    },\n    {\n      \"expansionCriteria\": [\n        {\n          \"type\": \"TIMEOUT_SECONDS\",\n          \"threshold\": 5.0\n        }\n      ],\n      \"memberGroups\": [\n        {\n          \"id\": \"2cc25a1b-b3f6-4ff2-b4a6-fd66d9f0aa32\",\n          \"name\": \"!APP Genesys Duty Tasking Managers\",\n          \"type\": \"GROUP\",\n          \"memberCount\": 3,\n          \"selfUri\": \"/api/v2/groups/2cc25a1b-b3f6-4ff2-b4a6-fd66d9f0aa32\"\n        },\n        {\n          \"id\": \"4b0e1777-7353-4637-ada7-798ccef51bb6\",\n          \"name\": \"!APP Genesys Aviation Operations Supervisors\",\n          \"type\": \"GROUP\",\n          \"memberCount\": 4,\n          \"selfUri\": \"/api/v2/groups/4b0e1777-7353-4637-ada7-798ccef51bb6\"\n        }\n      ]\n    }\n  ]\n}"},"callingPartyName":{"type":"string","x-example":"LifeFLlight"},"callingPartyNumber":{"type":"string","x-example":"+61735238802"},"createdBy":{"type":"string","x-example":"576a73fe-9507-4b8f-88c7-aee42fd6f26a"},"dateCreated":{"type":"string","format":"date-time","x-example":"2024-04-11T03:02:52.686Z"},"dateModified":{"type":"string","format":"date-time","x-example":"2024-06-18T04:46:43.951Z"},"defaultScripts":{"$ref":"#/definitions/DefaultScripts","x-example":"{\n  \"CALL\": {\n    \"id\": \"421a89c0-6623-4714-97ec-7710d753d0dd\",\n    \"selfUri\": \"/api/v2/scripts/421a89c0-6623-4714-97ec-7710d753d0dd\"\n  }\n}"},"division":{"$ref":"#/definitions/Division","x-example":"{\n  \"id\": \"7f3b181a-6e3e-4a67-9418-eda0fbce1683\",\n  \"name\": \"Home\",\n  \"selfUri\": \"/api/v2/authorization/divisions/7f3b181a-6e3e-4a67-9418-eda0fbce1683\"\n}"},"enableManualAssignment":{"type":"boolean","x-example":"true"},"enableTranscription":{"type":"boolean","x-example":"true"},"id":{"type":"string","x-example":"2581d1f1-9044-40dd-a993-27f9b9d69a17"},"joinedMemberCount":{"type":"integer","format":"int32","x-example":"22"},"mediaSettings":{"$ref":"#/definitions/MediaSettings","x-example":"{\n  \"call\": {\n    \"alertingTimeoutSeconds\": 15,\n    \"serviceLevel\": {\n      \"percentage\": 0.8,\n      \"durationMs\": 20000\n    }\n  },\n  \"callback\": {\n    \"alertingTimeoutSeconds\": 30,\n    \"serviceLevel\": {\n      \"percentage\": 0.8,\n      \"durationMs\": 20000\n    },\n    \"enableAutoDialAndEnd\": false,\n    \"autoDialDelaySeconds\": 300,\n    \"autoEndDelaySeconds\": 300\n  },\n  \"chat\": {\n    \"alertingTimeoutSeconds\": 30,\n    \"serviceLevel\": {\n      \"percentage\": 0.8,\n      \"durationMs\": 20000\n    }\n  },\n  \"email\": {\n    \"alertingTimeoutSeconds\": 300,\n    \"serviceLevel\": {\n      \"percentage\": 0.8,\n      \"durationMs\": 86400000\n    }\n  },\n  \"message\": {\n    \"alertingTimeoutSeconds\": 30,\n    \"serviceLevel\": {\n      \"percentage\": 0.8,\n      \"durationMs\": 20000\n    }\n  }\n}"},"memberCount":{"type":"integer","format":"int32","x-example":"23"},"modifiedBy":{"type":"string","x-example":"576a73fe-9507-4b8f-88c7-aee42fd6f26a"},"name":{"type":"string","x-example":"Commercial"},"queueFlow":{"$ref":"#/definitions/QueueFlow","x-example":"{\n  \"id\": \"b5012618-32ba-4885-97f6-28829692a607\",\n  \"name\": \"24_7\",\n  \"selfUri\": \"/api/v2/flows/b5012618-32ba-4885-97f6-28829692a607\"\n}"},"scoringMethod":{"type":"string","x-example":"TimestampAndPriority"},"selfUri":{"type":"string","x-example":"/api/v2/routing/queues/2581d1f1-9044-40dd-a993-27f9b9d69a17"},"skillEvaluationMethod":{"type":"string","x-example":"ALL"},"suppressInQueueCallRecording":{"type":"boolean","x-example":"true"},"userMemberCount":{"type":"integer","format":"int32","x-example":"4"}}},"Call2":{"description":"Model for Call2","required":["id"],"properties":{"id":{"type":"string","x-example":"421a89c0-6623-4714-97ec-7710d753d0dd"},"selfUri":{"type":"string","x-example":"/api/v2/scripts/421a89c0-6623-4714-97ec-7710d753d0dd"}}},"DefaultScripts":{"description":"Model for DefaultScripts","required":["CALL"],"properties":{"CALL":{"$ref":"#/definitions/Call2","x-example":"{\n  \"id\": \"421a89c0-6623-4714-97ec-7710d753d0dd\",\n  \"selfUri\": \"/api/v2/scripts/421a89c0-6623-4714-97ec-7710d753d0dd\"\n}"}}},"QueueFlow":{"description":"Model for QueueFlow","required":["id"],"properties":{"id":{"type":"string","x-example":"b5012618-32ba-4885-97f6-28829692a607"},"name":{"type":"string","x-example":"24_7"},"selfUri":{"type":"string","x-example":"/api/v2/flows/b5012618-32ba-4885-97f6-28829692a607"}}},"AcwSettings":{"description":"Model for AcwSettings","required":["timeoutMs"],"properties":{"timeoutMs":{"type":"integer","format":"int32","x-example":"30000"},"wrapupPrompt":{"type":"string","x-example":"MANDATORY_TIMEOUT"}}},"Bullseye":{"description":"Model for Bullseye","required":["rings"],"properties":{"rings":{"type":"array","items":{"$ref":"#/definitions/Rings"},"x-example":"[\n  {\n    \"expansionCriteria\": [\n      {\n        \"type\": \"TIMEOUT_SECONDS\",\n        \"threshold\": 0.0\n      }\n    ],\n    \"memberGroups\": [\n      {\n        \"id\": \"05daff5f-b643-4385-a503-3e937f817f10\",\n        \"name\": \"!APP Genesys Aeromedical Evacuation Specialists\",\n        \"type\": \"GROUP\",\n        \"memberCount\": 5,\n        \"selfUri\": \"/api/v2/groups/05daff5f-b643-4385-a503-3e937f817f10\"\n      },\n      {\n        \"id\": \"3ad1dac9-4cd9-4187-9978-8021f09081b3\",\n        \"name\": \"!APP Genesys Aviation Coordination Specialists\",\n        \"type\": \"GROUP\",\n        \"memberCount\": 10,\n        \"selfUri\": \"/api/v2/groups/3ad1dac9-4cd9-4187-9978-8021f09081b3\"\n      }\n    ]\n  },\n  {\n    \"expansionCriteria\": [\n      {\n        \"type\": \"TIMEOUT_SECONDS\",\n        \"threshold\": 5.0\n      }\n    ],\n    \"memberGroups\": [\n      {\n        \"id\": \"2cc25a1b-b3f6-4ff2-b4a6-fd66d9f0aa32\",\n        \"name\": \"!APP Genesys Duty Tasking Managers\",\n        \"type\": \"GROUP\",\n        \"memberCount\": 3,\n        \"selfUri\": \"/api/v2/groups/2cc25a1b-b3f6-4ff2-b4a6-fd66d9f0aa32\"\n      },\n      {\n        \"id\": \"4b0e1777-7353-4637-ada7-798ccef51bb6\",\n        \"name\": \"!APP Genesys Aviation Operations Supervisors\",\n        \"type\": \"GROUP\",\n        \"memberCount\": 4,\n        \"selfUri\": \"/api/v2/groups/4b0e1777-7353-4637-ada7-798ccef51bb6\"\n      }\n    ]\n  }\n]"}}},"MemberGroups":{"description":"Model for MemberGroups","required":["id"],"properties":{"id":{"type":"string","x-example":"05daff5f-b643-4385-a503-3e937f817f10"},"memberCount":{"type":"integer","format":"int32","x-example":"5"},"name":{"type":"string","x-example":"!APP Genesys Aeromedical Evacuation Specialists"},"selfUri":{"type":"string","x-example":"/api/v2/groups/05daff5f-b643-4385-a503-3e937f817f10"},"type":{"type":"string","x-example":"GROUP"}}},"ExpansionCriteria":{"description":"Model for ExpansionCriteria","required":["threshold"],"properties":{"threshold":{"type":"number","format":"float","x-example":"0.0"},"type":{"type":"string","x-example":"TIMEOUT_SECONDS"}}},"Rings":{"description":"Model for Rings","required":["expansionCriteria"],"properties":{"expansionCriteria":{"type":"array","items":{"$ref":"#/definitions/ExpansionCriteria"},"x-example":"[\n  {\n    \"type\": \"TIMEOUT_SECONDS\",\n    \"threshold\": 0.0\n  }\n]"},"memberGroups":{"type":"array","items":{"$ref":"#/definitions/MemberGroups"},"x-example":"[\n  {\n    \"id\": \"05daff5f-b643-4385-a503-3e937f817f10\",\n    \"name\": \"!APP Genesys Aeromedical Evacuation Specialists\",\n    \"type\": \"GROUP\",\n    \"memberCount\": 5,\n    \"selfUri\": \"/api/v2/groups/05daff5f-b643-4385-a503-3e937f817f10\"\n  },\n  {\n    \"id\": \"3ad1dac9-4cd9-4187-9978-8021f09081b3\",\n    \"name\": \"!APP Genesys Aviation Coordination Specialists\",\n    \"type\": \"GROUP\",\n    \"memberCount\": 10,\n    \"selfUri\": \"/api/v2/groups/3ad1dac9-4cd9-4187-9978-8021f09081b3\"\n  }\n]"}}},"ServiceLevel5":{"description":"Model for ServiceLevel5","required":["durationMs"],"properties":{"durationMs":{"type":"integer","format":"int32","x-example":"20000"},"percentage":{"type":"number","format":"float","x-example":"0.8"}}},"Message":{"description":"Model for Message","required":["alertingTimeoutSeconds"],"properties":{"alertingTimeoutSeconds":{"type":"integer","format":"int32","x-example":"30"},"serviceLevel":{"$ref":"#/definitions/ServiceLevel5","x-example":"{\n  \"percentage\": 0.8,\n  \"durationMs\": 20000\n}"}}},"ServiceLevel4":{"description":"Model for ServiceLevel4","required":["durationMs"],"properties":{"durationMs":{"type":"integer","format":"int32","x-example":"86400000"},"percentage":{"type":"number","format":"float","x-example":"0.8"}}},"Email":{"description":"Model for Email","required":["alertingTimeoutSeconds"],"properties":{"alertingTimeoutSeconds":{"type":"integer","format":"int32","x-example":"300"},"serviceLevel":{"$ref":"#/definitions/ServiceLevel4","x-example":"{\n  \"percentage\": 0.8,\n  \"durationMs\": 86400000\n}"}}},"ServiceLevel3":{"description":"Model for ServiceLevel3","required":["durationMs"],"properties":{"durationMs":{"type":"integer","format":"int32","x-example":"20000"},"percentage":{"type":"number","format":"float","x-example":"0.8"}}},"MediaSettings":{"description":"Model for MediaSettings","required":["call"],"properties":{"call":{"$ref":"#/definitions/Call","x-example":"{\n  \"alertingTimeoutSeconds\": 15,\n  \"serviceLevel\": {\n    \"percentage\": 0.8,\n    \"durationMs\": 20000\n  }\n}"},"callback":{"$ref":"#/definitions/Callback","x-example":"{\n  \"alertingTimeoutSeconds\": 30,\n  \"serviceLevel\": {\n    \"percentage\": 0.8,\n    \"durationMs\": 20000\n  },\n  \"enableAutoDialAndEnd\": false,\n  \"autoDialDelaySeconds\": 300,\n  \"autoEndDelaySeconds\": 300\n}"},"chat":{"$ref":"#/definitions/Chat","x-example":"{\n  \"alertingTimeoutSeconds\": 30,\n  \"serviceLevel\": {\n    \"percentage\": 0.8,\n    \"durationMs\": 20000\n  }\n}"},"email":{"$ref":"#/definitions/Email","x-example":"{\n  \"alertingTimeoutSeconds\": 300,\n  \"serviceLevel\": {\n    \"percentage\": 0.8,\n    \"durationMs\": 86400000\n  }\n}"},"message":{"$ref":"#/definitions/Message","x-example":"{\n  \"alertingTimeoutSeconds\": 30,\n  \"serviceLevel\": {\n    \"percentage\": 0.8,\n    \"durationMs\": 20000\n  }\n}"}}},"Callback":{"description":"Model for Callback","required":["alertingTimeoutSeconds"],"properties":{"alertingTimeoutSeconds":{"type":"integer","format":"int32","x-example":"30"},"autoDialDelaySeconds":{"type":"integer","format":"int32","x-example":"300"},"autoEndDelaySeconds":{"type":"integer","format":"int32","x-example":"300"},"enableAutoDialAndEnd":{"type":"boolean","x-example":"false"},"serviceLevel":{"$ref":"#/definitions/ServiceLevel2","x-example":"{\n  \"percentage\": 0.8,\n  \"durationMs\": 20000\n}"}}},"ServiceLevel2":{"description":"Model for ServiceLevel2","required":["durationMs"],"properties":{"durationMs":{"type":"integer","format":"int32","x-example":"20000"},"percentage":{"type":"number","format":"float","x-example":"0.8"}}},"ServiceLevel":{"description":"Model for ServiceLevel","required":["durationMs"],"properties":{"durationMs":{"type":"integer","format":"int32","x-example":"20000"},"percentage":{"type":"number","format":"float","x-example":"0.8"}}},"Call":{"description":"Model for Call","required":["alertingTimeoutSeconds"],"properties":{"alertingTimeoutSeconds":{"type":"integer","format":"int32","x-example":"15"},"serviceLevel":{"$ref":"#/definitions/ServiceLevel","x-example":"{\n  \"percentage\": 0.8,\n  \"durationMs\": 20000\n}"}}},"User":{"description":"Model for User","required":["acdAutoAnswer"],"properties":{"acdAutoAnswer":{"type":"boolean","x-example":"false"},"addresses":{"type":"array","items":{"$ref":"#/definitions/Addresses"},"x-example":"[\n  {\n    \"address\": \"+61735238807\",\n    \"display\": \"+61 7 3523 8807\",\n    \"mediaType\": \"PHONE\",\n    \"type\": \"WORK\",\n    \"countryCode\": \"AU\"\n  }\n]"},"chat":{"$ref":"#/definitions/Chat","x-example":"{\n  \"jabberId\": \"65f0f75c9775701be53e596e@lifeflight.orgspan.com\"\n}"},"division":{"$ref":"#/definitions/Division","x-example":"{\n  \"id\": \"7f3b181a-6e3e-4a67-9418-eda0fbce1683\",\n  \"name\": \"Home\",\n  \"selfUri\": \"/api/v2/authorization/divisions/7f3b181a-6e3e-4a67-9418-eda0fbce1683\"\n}"},"email":{"type":"string","x-example":"troy@straticom.com.au"},"id":{"type":"string","x-example":"576a73fe-9507-4b8f-88c7-aee42fd6f26a"},"name":{"type":"string","x-example":"Troy Roberts"},"primaryContactInfo":{"type":"array","items":{"$ref":"#/definitions/PrimaryContactInfo"},"x-example":"[\n  {\n    \"address\": \"troy@straticom.com.au\",\n    \"mediaType\": \"EMAIL\",\n    \"type\": \"PRIMARY\"\n  },\n  {\n    \"address\": \"+61735238807\",\n    \"display\": \"+61 7 3523 8807\",\n    \"mediaType\": \"PHONE\",\n    \"type\": \"PRIMARY\"\n  }\n]"},"selfUri":{"type":"string","x-example":"/api/v2/users/576a73fe-9507-4b8f-88c7-aee42fd6f26a"},"state":{"type":"string","x-example":"active"},"username":{"type":"string","x-example":"troy@straticom.com.au"},"version":{"type":"integer","format":"int32","x-example":"27"}}},"Addresses":{"description":"Model for Addresses","required":["address"],"properties":{"address":{"type":"string","x-example":"+61735238807"},"countryCode":{"type":"string","x-example":"AU"},"display":{"type":"string","x-example":"+61 7 3523 8807"},"mediaType":{"type":"string","x-example":"PHONE"},"type":{"type":"string","x-example":"WORK"}}},"PrimaryContactInfo":{"description":"Model for PrimaryContactInfo","required":["address"],"properties":{"address":{"type":"string","x-example":"troy@straticom.com.au"},"mediaType":{"type":"string","x-example":"EMAIL"},"type":{"type":"string","x-example":"PRIMARY"}}},"Chat":{"description":"Model for Chat","required":["alertingTimeoutSeconds"],"properties":{"alertingTimeoutSeconds":{"type":"integer","format":"int32","x-example":"30"},"jabberId":{"type":"string","x-example":"65f0f75c9775701be53e596e@lifeflight.orgspan.com"},"serviceLevel":{"$ref":"#/definitions/ServiceLevel3","x-example":"{\n  \"percentage\": 0.8,\n  \"durationMs\": 20000\n}"}}},"Division":{"description":"Model for Division","required":["id"],"properties":{"id":{"type":"string","x-example":"7f3b181a-6e3e-4a67-9418-eda0fbce1683"},"name":{"type":"string","x-example":"Home"},"selfUri":{"type":"string","x-example":"/api/v2/authorization/divisions/7f3b181a-6e3e-4a67-9418-eda0fbce1683"}}},"ConversationQuery":{"description":"Model for ConversationQuery","required":["conversationFilters"],"properties":{"conversationFilters":{"type":"array","items":{"$ref":"#/definitions/ConversationFilters"},"x-example":"[\n  {\n    \"type\": \"or\",\n    \"predicates\": [\n      {\n        \"type\": \"dimension\",\n        \"dimension\": \"externalTag\",\n        \"operator\": \"exists\"\n      }\n    ]\n  }\n]"},"evaluationFilters":{"type":"array","items":{"type":"string"},"x-example":"[]"},"interval":{"type":"string","x-example":"2024-06-17T14:00:00.000Z/2024-06-18T14:00:00.000Z"},"order":{"type":"string","x-example":"desc"},"orderBy":{"type":"string","x-example":"conversationStart"},"paging":{"$ref":"#/definitions/Paging","x-example":"{\n  \"pageSize\": 100,\n  \"pageNumber\": 1\n}"},"segmentFilters":{"type":"array","items":{"$ref":"#/definitions/SegmentFilters"},"x-example":"[\n  {\n    \"type\": \"or\",\n    \"predicates\": [\n      {\n        \"dimension\": \"direction\",\n        \"value\": \"inbound\"\n      },\n      {\n        \"dimension\": \"direction\",\n        \"value\": \"outbound\"\n      }\n    ]\n  },\n  {\n    \"type\": \"or\",\n    \"predicates\": [\n      {\n        \"dimension\": \"wrapUpCode\",\n        \"value\": \"01066fe3-5355-4cef-b430-258811cfc4f0\"\n      }\n    ]\n  }\n]"},"surveyFilters":{"type":"array","items":{"type":"string"},"x-example":"[]"}}},"Predicates2":{"description":"Model for Predicates2","required":["dimension"],"properties":{"dimension":{"type":"string","x-example":"externalTag"},"operator":{"type":"string","x-example":"exists"},"type":{"type":"string","x-example":"dimension"}}},"ConversationFilters":{"description":"Model for ConversationFilters","required":["predicates"],"properties":{"predicates":{"type":"array","items":{"$ref":"#/definitions/Predicates2"},"x-example":"[\n  {\n    \"type\": \"dimension\",\n    \"dimension\": \"externalTag\",\n    \"operator\": \"exists\"\n  }\n]"},"type":{"type":"string","x-example":"or"}}},"Predicates":{"description":"Model for Predicates","required":["dimension"],"properties":{"dimension":{"type":"string","x-example":"direction"},"value":{"type":"string","x-example":"inbound"}}},"SegmentFilters":{"description":"Model for SegmentFilters","required":["predicates"],"properties":{"predicates":{"type":"array","items":{"$ref":"#/definitions/Predicates"},"x-example":"[\n  {\n    \"dimension\": \"direction\",\n    \"value\": \"inbound\"\n  },\n  {\n    \"dimension\": \"direction\",\n    \"value\": \"outbound\"\n  }\n]"},"type":{"type":"string","x-example":"or"}}},"Paging":{"description":"Model for Paging","required":["pageNumber"],"properties":{"pageNumber":{"type":"integer","format":"int32","x-example":"1"},"pageSize":{"type":"integer","format":"int32","x-example":"100"}}},"Sessions":{"description":"Model for Sessions","required":["ani"],"properties":{"ani":{"type":"string","x-example":"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost"},"direction":{"type":"string","x-example":"outbound"},"dnis":{"type":"string","x-example":"tel:+61439915528"},"edgeId":{"type":"string","x-example":"68b8dfa3-a204-4f77-bdaa-55a4363e9d81"},"mediaEndpointStats":{"type":"array","items":{"$ref":"#/definitions/MediaEndpointStats"},"x-example":"[\n  {\n    \"codecs\": [\n      \"audio/opus\"\n    ],\n    \"discardedPackets\": 16,\n    \"eventTime\": \"2024-06-18T04:47:14.421Z\",\n    \"maxLatencyMs\": 45,\n    \"minMos\": 4.740354786080212,\n    \"minRFactor\": 87.26301574707031,\n    \"receivedPackets\": 860\n  },\n  {\n    \"codecs\": [\n      \"audio/opus\"\n    ],\n    \"eventTime\": \"2024-06-18T04:47:14.488Z\",\n    \"maxLatencyMs\": 31,\n    \"minMos\": 4.887227611813239,\n    \"minRFactor\": 92.65579223632812,\n    \"receivedPackets\": 769\n  }\n]"},"mediaType":{"type":"string","x-example":"voice"},"metrics":{"type":"array","items":{"$ref":"#/definitions/Metrics"},"x-example":"[\n  {\n    \"emitDate\": \"2024-06-18T04:46:56.701Z\",\n    \"name\": \"nOutbound\",\n    \"value\": 1\n  },\n  {\n    \"emitDate\": \"2024-06-18T04:46:57.117Z\",\n    \"name\": \"tContacting\",\n    \"value\": 416\n  },\n  {\n    \"emitDate\": \"2024-06-18T04:46:59.022Z\",\n    \"name\": \"tDialing\",\n    \"value\": 1905\n  },\n  {\n    \"emitDate\": \"2024-06-18T04:47:14.394Z\",\n    \"name\": \"tTalk\",\n    \"value\": 15372\n  },\n  {\n    \"emitDate\": \"2024-06-18T04:47:14.394Z\",\n    \"name\": \"tTalkComplete\",\n    \"value\": 15372\n  },\n  {\n    \"emitDate\": \"2024-06-18T04:47:14.396Z\",\n    \"name\": \"nError\",\n    \"value\": 1\n  },\n  {\n    \"emitDate\": \"2024-06-18T04:47:17.742Z\",\n    \"name\": \"tAcw\",\n    \"value\": 3348\n  },\n  {\n    \"emitDate\": \"2024-06-18T04:47:17.742Z\",\n    \"name\": \"tHandle\",\n    \"value\": 21041\n  }\n]"},"peerId":{"type":"string","x-example":"72d50fa2-1920-422e-ac30-001991225bd7"},"protocolCallId":{"type":"string","x-example":"32aed023-768e-4d2a-92d7-51fd2678dc92"},"provider":{"type":"string","x-example":"Edge"},"remote":{"type":"string","x-example":"Mobile Number, Australia"},"segments":{"type":"array","items":{"$ref":"#/definitions/Segments"},"x-example":"[\n  {\n    \"conference\": false,\n    \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n    \"segmentEnd\": \"2024-06-18T04:46:57.117Z\",\n    \"segmentStart\": \"2024-06-18T04:46:56.701Z\",\n    \"segmentType\": \"contacting\"\n  },\n  {\n    \"conference\": false,\n    \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n    \"segmentEnd\": \"2024-06-18T04:46:59.022Z\",\n    \"segmentStart\": \"2024-06-18T04:46:57.117Z\",\n    \"segmentType\": \"dialing\"\n  },\n  {\n    \"conference\": false,\n    \"disconnectType\": \"client\",\n    \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n    \"segmentEnd\": \"2024-06-18T04:47:14.394Z\",\n    \"segmentStart\": \"2024-06-18T04:46:59.022Z\",\n    \"segmentType\": \"interact\"\n  },\n  {\n    \"conference\": false,\n    \"disconnectType\": \"client\",\n    \"errorCode\": \"error.ininedgecontrol.session.inactive\",\n    \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n    \"segmentEnd\": \"2024-06-18T04:47:17.742Z\",\n    \"segmentStart\": \"2024-06-18T04:47:14.394Z\",\n    \"segmentType\": \"wrapup\",\n    \"wrapUpCode\": \"01066fe3-5355-4cef-b430-258811cfc4f0\"\n  }\n]"},"sessionDnis":{"type":"string","x-example":"tel:+61439915528"},"sessionId":{"type":"string","x-example":"a95f9ee4-5cfe-42f5-a78d-e28ca1449a89"}}},"Segments":{"description":"Model for Segments","required":["conference"],"properties":{"conference":{"type":"boolean","x-example":"false"},"queueId":{"type":"string","x-example":"2581d1f1-9044-40dd-a993-27f9b9d69a17"},"segmentEnd":{"type":"string","format":"date-time","x-example":"2024-06-18T04:46:57.117Z"},"segmentStart":{"type":"string","format":"date-time","x-example":"2024-06-18T04:46:56.701Z"},"segmentType":{"type":"string","x-example":"contacting"}}},"Metrics":{"description":"Model for Metrics","required":["emitDate"],"properties":{"emitDate":{"type":"string","format":"date-time","x-example":"2024-06-18T04:46:56.701Z"},"name":{"type":"string","x-example":"nOutbound"},"value":{"type":"integer","format":"int32","x-example":"1"}}},"MediaEndpointStats":{"description":"Model for MediaEndpointStats","required":["codecs"],"properties":{"codecs":{"type":"array","items":{"type":"string"},"x-example":"[\"audio/opus\"]"},"discardedPackets":{"type":"integer","format":"int32","x-example":"16"},"eventTime":{"type":"string","format":"date-time","x-example":"2024-06-18T04:47:14.421Z"},"maxLatencyMs":{"type":"integer","format":"int32","x-example":"45"},"minMos":{"type":"number","format":"float","x-example":"4.740354786080212"},"minRFactor":{"type":"number","format":"float","x-example":"87.26301574707031"},"receivedPackets":{"type":"integer","format":"int32","x-example":"860"}}},"Conversations2":{"description":"Model for Conversations2","required":["conversationEnd"],"properties":{"conversationEnd":{"type":"string","format":"date-time","x-example":"2024-06-18T04:47:17.742Z"},"conversationId":{"type":"string","x-example":"bc6cdaab-5940-4d59-b0f2-d1a35e4e37ce"},"conversationStart":{"type":"string","format":"date-time","x-example":"2024-06-18T04:46:56.701Z"},"divisionIds":{"type":"array","items":{"type":"string"},"x-example":"[\"7f3b181a-6e3e-4a67-9418-eda0fbce1683\"]"},"externalTag":{"type":"string","x-example":"108883"},"mediaStatsMinConversationMos":{"type":"number","format":"float","x-example":"4.394646110460073"},"mediaStatsMinConversationRFactor":{"type":"number","format":"float","x-example":"81.13760375976562"},"originatingDirection":{"type":"string","x-example":"outbound"},"participants":{"type":"array","items":{"$ref":"#/definitions/Participants"},"x-example":"[\n  {\n    \"participantId\": \"05dfc050-0ae7-4e06-95a1-802a1b015009\",\n    \"purpose\": \"agent\",\n    \"userId\": \"576a73fe-9507-4b8f-88c7-aee42fd6f26a\",\n    \"sessions\": [\n      {\n        \"ani\": \"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost\",\n        \"direction\": \"outbound\",\n        \"dnis\": \"tel:+61439915528\",\n        \"edgeId\": \"68b8dfa3-a204-4f77-bdaa-55a4363e9d81\",\n        \"mediaType\": \"voice\",\n        \"peerId\": \"72d50fa2-1920-422e-ac30-001991225bd7\",\n        \"protocolCallId\": \"32aed023-768e-4d2a-92d7-51fd2678dc92\",\n        \"provider\": \"Edge\",\n        \"remote\": \"Mobile Number, Australia\",\n        \"sessionDnis\": \"tel:+61439915528\",\n        \"sessionId\": \"a95f9ee4-5cfe-42f5-a78d-e28ca1449a89\",\n        \"mediaEndpointStats\": [\n          {\n            \"codecs\": [\n              \"audio/opus\"\n            ],\n            \"discardedPackets\": 16,\n            \"eventTime\": \"2024-06-18T04:47:14.421Z\",\n            \"maxLatencyMs\": 45,\n            \"minMos\": 4.740354786080212,\n            \"minRFactor\": 87.26301574707031,\n            \"receivedPackets\": 860\n          },\n          {\n            \"codecs\": [\n              \"audio/opus\"\n            ],\n            \"eventTime\": \"2024-06-18T04:47:14.488Z\",\n            \"maxLatencyMs\": 31,\n            \"minMos\": 4.887227611813239,\n            \"minRFactor\": 92.65579223632812,\n            \"receivedPackets\": 769\n          }\n        ],\n        \"metrics\": [\n          {\n            \"emitDate\": \"2024-06-18T04:46:56.701Z\",\n            \"name\": \"nOutbound\",\n            \"value\": 1\n          },\n          {\n            \"emitDate\": \"2024-06-18T04:46:57.117Z\",\n            \"name\": \"tContacting\",\n            \"value\": 416\n          },\n          {\n            \"emitDate\": \"2024-06-18T04:46:59.022Z\",\n            \"name\": \"tDialing\",\n            \"value\": 1905\n          },\n          {\n            \"emitDate\": \"2024-06-18T04:47:14.394Z\",\n            \"name\": \"tTalk\",\n            \"value\": 15372\n          },\n          {\n            \"emitDate\": \"2024-06-18T04:47:14.394Z\",\n            \"name\": \"tTalkComplete\",\n            \"value\": 15372\n          },\n          {\n            \"emitDate\": \"2024-06-18T04:47:14.396Z\",\n            \"name\": \"nError\",\n            \"value\": 1\n          },\n          {\n            \"emitDate\": \"2024-06-18T04:47:17.742Z\",\n            \"name\": \"tAcw\",\n            \"value\": 3348\n          },\n          {\n            \"emitDate\": \"2024-06-18T04:47:17.742Z\",\n            \"name\": \"tHandle\",\n            \"value\": 21041\n          }\n        ],\n        \"segments\": [\n          {\n            \"conference\": false,\n            \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n            \"segmentEnd\": \"2024-06-18T04:46:57.117Z\",\n            \"segmentStart\": \"2024-06-18T04:46:56.701Z\",\n            \"segmentType\": \"contacting\"\n          },\n          {\n            \"conference\": false,\n            \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n            \"segmentEnd\": \"2024-06-18T04:46:59.022Z\",\n            \"segmentStart\": \"2024-06-18T04:46:57.117Z\",\n            \"segmentType\": \"dialing\"\n          },\n          {\n            \"conference\": false,\n            \"disconnectType\": \"client\",\n            \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n            \"segmentEnd\": \"2024-06-18T04:47:14.394Z\",\n            \"segmentStart\": \"2024-06-18T04:46:59.022Z\",\n            \"segmentType\": \"interact\"\n          },\n          {\n            \"conference\": false,\n            \"disconnectType\": \"client\",\n            \"errorCode\": \"error.ininedgecontrol.session.inactive\",\n            \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n            \"segmentEnd\": \"2024-06-18T04:47:17.742Z\",\n            \"segmentStart\": \"2024-06-18T04:47:14.394Z\",\n            \"segmentType\": \"wrapup\",\n            \"wrapUpCode\": \"01066fe3-5355-4cef-b430-258811cfc4f0\"\n          }\n        ]\n      }\n    ]\n  },\n  {\n    \"externalContactId\": \"8164a49c-8ca7-4986-bde5-5a979a56710b\",\n    \"participantId\": \"cbad57ae-e7a3-4af6-b679-e608d29c273f\",\n    \"participantName\": \"Mobile Number, Australia\",\n    \"purpose\": \"customer\",\n    \"sessions\": [\n      {\n        \"ani\": \"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost\",\n        \"direction\": \"outbound\",\n        \"dnis\": \"tel:+61439915528\",\n        \"edgeId\": \"3f949862-77c5-4b59-b06c-03462ae3b295\",\n        \"mediaType\": \"voice\",\n        \"protocolCallId\": \"a7a21935-004e-4b85-9f58-92bf2e9726d4\",\n        \"provider\": \"Edge\",\n        \"recording\": true,\n        \"remoteNameDisplayable\": \"Mobile Number, Australia\",\n        \"sessionDnis\": \"tel:+61439915528\",\n        \"sessionId\": \"72d50fa2-1920-422e-ac30-001991225bd7\",\n        \"mediaEndpointStats\": [\n          {\n            \"codecs\": [\n              \"audio/opus\"\n            ],\n            \"discardedPackets\": 34,\n            \"eventTime\": \"2024-06-18T04:47:14.425Z\",\n            \"maxLatencyMs\": 33,\n            \"minMos\": 4.518073775522884,\n            \"minRFactor\": 81.13760375976562,\n            \"receivedPackets\": 769\n          },\n          {\n            \"codecs\": [\n              \"audio/PCMA\"\n            ],\n            \"eventTime\": \"2024-06-18T04:47:14.465Z\",\n            \"maxLatencyMs\": 30,\n            \"minMos\": 4.394646110460073,\n            \"minRFactor\": 92.46680450439453,\n            \"receivedPackets\": 720\n          }\n        ],\n        \"metrics\": [\n          {\n            \"emitDate\": \"2024-06-18T04:46:59.030Z\",\n            \"name\": \"nConnected\",\n            \"value\": 1\n          },\n          {\n            \"emitDate\": \"2024-06-18T04:47:14.399Z\",\n            \"name\": \"tConnected\",\n            \"value\": 15369\n          }\n        ],\n        \"segments\": [\n          {\n            \"conference\": false,\n            \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n            \"segmentEnd\": \"2024-06-18T04:46:59.030Z\",\n            \"segmentStart\": \"2024-06-18T04:46:57.117Z\",\n            \"segmentType\": \"dialing\"\n          },\n          {\n            \"conference\": false,\n            \"disconnectType\": \"peer\",\n            \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n            \"segmentEnd\": \"2024-06-18T04:47:14.399Z\",\n            \"segmentStart\": \"2024-06-18T04:46:59.030Z\",\n            \"segmentType\": \"interact\"\n          }\n        ]\n      }\n    ]\n  }\n]"}}},"Conversations":{"description":"Model for Conversations","required":["conversations"],"properties":{"conversations":{"type":"array","items":{"$ref":"#/definitions/Conversations2"},"x-example":"[\n  {\n    \"conversationEnd\": \"2024-06-18T04:47:17.742Z\",\n    \"conversationId\": \"bc6cdaab-5940-4d59-b0f2-d1a35e4e37ce\",\n    \"conversationStart\": \"2024-06-18T04:46:56.701Z\",\n    \"divisionIds\": [\n      \"7f3b181a-6e3e-4a67-9418-eda0fbce1683\"\n    ],\n    \"externalTag\": \"108883\",\n    \"mediaStatsMinConversationMos\": 4.394646110460073,\n    \"mediaStatsMinConversationRFactor\": 81.13760375976562,\n    \"originatingDirection\": \"outbound\",\n    \"participants\": [\n      {\n        \"participantId\": \"05dfc050-0ae7-4e06-95a1-802a1b015009\",\n        \"purpose\": \"agent\",\n        \"userId\": \"576a73fe-9507-4b8f-88c7-aee42fd6f26a\",\n        \"sessions\": [\n          {\n            \"ani\": \"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost\",\n            \"direction\": \"outbound\",\n            \"dnis\": \"tel:+61439915528\",\n            \"edgeId\": \"68b8dfa3-a204-4f77-bdaa-55a4363e9d81\",\n            \"mediaType\": \"voice\",\n            \"peerId\": \"72d50fa2-1920-422e-ac30-001991225bd7\",\n            \"protocolCallId\": \"32aed023-768e-4d2a-92d7-51fd2678dc92\",\n            \"provider\": \"Edge\",\n            \"remote\": \"Mobile Number, Australia\",\n            \"sessionDnis\": \"tel:+61439915528\",\n            \"sessionId\": \"a95f9ee4-5cfe-42f5-a78d-e28ca1449a89\",\n            \"mediaEndpointStats\": [\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"discardedPackets\": 16,\n                \"eventTime\": \"2024-06-18T04:47:14.421Z\",\n                \"maxLatencyMs\": 45,\n                \"minMos\": 4.740354786080212,\n                \"minRFactor\": 87.26301574707031,\n                \"receivedPackets\": 860\n              },\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"eventTime\": \"2024-06-18T04:47:14.488Z\",\n                \"maxLatencyMs\": 31,\n                \"minMos\": 4.887227611813239,\n                \"minRFactor\": 92.65579223632812,\n                \"receivedPackets\": 769\n              }\n            ],\n            \"metrics\": [\n              {\n                \"emitDate\": \"2024-06-18T04:46:56.701Z\",\n                \"name\": \"nOutbound\",\n                \"value\": 1\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:46:57.117Z\",\n                \"name\": \"tContacting\",\n                \"value\": 416\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:46:59.022Z\",\n                \"name\": \"tDialing\",\n                \"value\": 1905\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:47:14.394Z\",\n                \"name\": \"tTalk\",\n                \"value\": 15372\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:47:14.394Z\",\n                \"name\": \"tTalkComplete\",\n                \"value\": 15372\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:47:14.396Z\",\n                \"name\": \"nError\",\n                \"value\": 1\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:47:17.742Z\",\n                \"name\": \"tAcw\",\n                \"value\": 3348\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:47:17.742Z\",\n                \"name\": \"tHandle\",\n                \"value\": 21041\n              }\n            ],\n            \"segments\": [\n              {\n                \"conference\": false,\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:46:57.117Z\",\n                \"segmentStart\": \"2024-06-18T04:46:56.701Z\",\n                \"segmentType\": \"contacting\"\n              },\n              {\n                \"conference\": false,\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:46:59.022Z\",\n                \"segmentStart\": \"2024-06-18T04:46:57.117Z\",\n                \"segmentType\": \"dialing\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"client\",\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:47:14.394Z\",\n                \"segmentStart\": \"2024-06-18T04:46:59.022Z\",\n                \"segmentType\": \"interact\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"client\",\n                \"errorCode\": \"error.ininedgecontrol.session.inactive\",\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:47:17.742Z\",\n                \"segmentStart\": \"2024-06-18T04:47:14.394Z\",\n                \"segmentType\": \"wrapup\",\n                \"wrapUpCode\": \"01066fe3-5355-4cef-b430-258811cfc4f0\"\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"externalContactId\": \"8164a49c-8ca7-4986-bde5-5a979a56710b\",\n        \"participantId\": \"cbad57ae-e7a3-4af6-b679-e608d29c273f\",\n        \"participantName\": \"Mobile Number, Australia\",\n        \"purpose\": \"customer\",\n        \"sessions\": [\n          {\n            \"ani\": \"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost\",\n            \"direction\": \"outbound\",\n            \"dnis\": \"tel:+61439915528\",\n            \"edgeId\": \"3f949862-77c5-4b59-b06c-03462ae3b295\",\n            \"mediaType\": \"voice\",\n            \"protocolCallId\": \"a7a21935-004e-4b85-9f58-92bf2e9726d4\",\n            \"provider\": \"Edge\",\n            \"recording\": true,\n            \"remoteNameDisplayable\": \"Mobile Number, Australia\",\n            \"sessionDnis\": \"tel:+61439915528\",\n            \"sessionId\": \"72d50fa2-1920-422e-ac30-001991225bd7\",\n            \"mediaEndpointStats\": [\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"discardedPackets\": 34,\n                \"eventTime\": \"2024-06-18T04:47:14.425Z\",\n                \"maxLatencyMs\": 33,\n                \"minMos\": 4.518073775522884,\n                \"minRFactor\": 81.13760375976562,\n                \"receivedPackets\": 769\n              },\n              {\n                \"codecs\": [\n                  \"audio/PCMA\"\n                ],\n                \"eventTime\": \"2024-06-18T04:47:14.465Z\",\n                \"maxLatencyMs\": 30,\n                \"minMos\": 4.394646110460073,\n                \"minRFactor\": 92.46680450439453,\n                \"receivedPackets\": 720\n              }\n            ],\n            \"metrics\": [\n              {\n                \"emitDate\": \"2024-06-18T04:46:59.030Z\",\n                \"name\": \"nConnected\",\n                \"value\": 1\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:47:14.399Z\",\n                \"name\": \"tConnected\",\n                \"value\": 15369\n              }\n            ],\n            \"segments\": [\n              {\n                \"conference\": false,\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:46:59.030Z\",\n                \"segmentStart\": \"2024-06-18T04:46:57.117Z\",\n                \"segmentType\": \"dialing\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"peer\",\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:47:14.399Z\",\n                \"segmentStart\": \"2024-06-18T04:46:59.030Z\",\n                \"segmentType\": \"interact\"\n              }\n            ]\n          }\n        ]\n      }\n    ]\n  },\n  {\n    \"conversationEnd\": \"2024-06-18T04:24:03.085Z\",\n    \"conversationId\": \"6be3d0b5-7284-48ea-89c0-b74f588a9c3c\",\n    \"conversationStart\": \"2024-06-18T04:23:35.722Z\",\n    \"divisionIds\": [\n      \"7f3b181a-6e3e-4a67-9418-eda0fbce1683\"\n    ],\n    \"externalTag\": \"108883\",\n    \"mediaStatsMinConversationMos\": 4.394291599306165,\n    \"mediaStatsMinConversationRFactor\": 91.78073120117188,\n    \"originatingDirection\": \"inbound\",\n    \"participants\": [\n      {\n        \"externalContactId\": \"8164a49c-8ca7-4986-bde5-5a979a56710b\",\n        \"participantId\": \"ecc603e9-040e-4d0e-b8f0-fb4927788594\",\n        \"participantName\": \"Mobile Number, Australia\",\n        \"purpose\": \"customer\",\n        \"sessions\": [\n          {\n            \"agentBullseyeRing\": 1,\n            \"ani\": \"tel:+61439915528\",\n            \"direction\": \"inbound\",\n            \"dnis\": \"tel:+61735238802\",\n            \"edgeId\": \"3f949862-77c5-4b59-b06c-03462ae3b295\",\n            \"mediaType\": \"voice\",\n            \"protocolCallId\": \"0FA41426-66710BC70007BFBD-B39F9700\",\n            \"provider\": \"Edge\",\n            \"recording\": true,\n            \"remoteNameDisplayable\": \"Mobile Number, Australia\",\n            \"requestedRoutings\": [\n              \"Bullseye\"\n            ],\n            \"routingRing\": 1,\n            \"selectedAgentId\": \"576a73fe-9507-4b8f-88c7-aee42fd6f26a\",\n            \"sessionDnis\": \"tel:+61735238802\",\n            \"sessionId\": \"e441ce23-3efd-41a6-bd60-de4920f9bb38\",\n            \"usedRouting\": \"Bullseye\",\n            \"mediaEndpointStats\": [\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"eventTime\": \"2024-06-18T04:23:40.577Z\",\n                \"maxLatencyMs\": 30,\n                \"minMos\": 4.882549865050033,\n                \"minRFactor\": 92.44974517822266,\n                \"receivedPackets\": 241\n              },\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"eventTime\": \"2024-06-18T04:23:43.858Z\",\n                \"maxLatencyMs\": 30,\n                \"minMos\": 4.882757927523937,\n                \"minRFactor\": 92.4588394165039,\n                \"receivedPackets\": 159\n              },\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"discardedPackets\": 1,\n                \"eventTime\": \"2024-06-18T04:23:59.944Z\",\n                \"maxLatencyMs\": 30,\n                \"minMos\": 4.874420254725353,\n                \"minRFactor\": 92.09947204589844,\n                \"receivedPackets\": 805\n              },\n              {\n                \"codecs\": [\n                  \"audio/PCMU\"\n                ],\n                \"eventTime\": \"2024-06-18T04:24:00.004Z\",\n                \"maxLatencyMs\": 30,\n                \"minMos\": 4.394291599306165,\n                \"minRFactor\": 92.4495849609375,\n                \"receivedPackets\": 1177\n              }\n            ],\n            \"metrics\": [\n              {\n                \"emitDate\": \"2024-06-18T04:23:35.801Z\",\n                \"name\": \"nConnected\",\n                \"value\": 1\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:59.916Z\",\n                \"name\": \"tConnected\",\n                \"value\": 24115\n              }\n            ],\n            \"segments\": [\n              {\n                \"conference\": false,\n                \"segmentEnd\": \"2024-06-18T04:23:35.801Z\",\n                \"segmentStart\": \"2024-06-18T04:23:35.722Z\",\n                \"segmentType\": \"system\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"peer\",\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:23:59.916Z\",\n                \"segmentStart\": \"2024-06-18T04:23:35.801Z\",\n                \"segmentType\": \"interact\"\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"participantId\": \"a2c49dd7-e695-4739-a56e-a8b88dbb583a\",\n        \"participantName\": \"LFA Commercial 1300 721 672\",\n        \"purpose\": \"ivr\",\n        \"sessions\": [\n          {\n            \"ani\": \"tel:+61439915528\",\n            \"direction\": \"inbound\",\n            \"dnis\": \"tel:+61735238802\",\n            \"edgeId\": \"68b8dfa3-a204-4f77-bdaa-55a4363e9d81\",\n            \"mediaType\": \"voice\",\n            \"peerId\": \"e441ce23-3efd-41a6-bd60-de4920f9bb38\",\n            \"protocolCallId\": \"c27787c9-7fd7-49fc-945a-41f4d0ef6856\",\n            \"provider\": \"Edge\",\n            \"remote\": \"Mobile Number, Australia\",\n            \"remoteNameDisplayable\": \"Brisbane, Australia\",\n            \"sessionDnis\": \"tel:+61735238802\",\n            \"sessionId\": \"bb2ad9b4-cc2d-42f8-8671-913ee2184f98\",\n            \"mediaEndpointStats\": [\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"eventTime\": \"2024-06-18T04:23:40.596Z\",\n                \"maxLatencyMs\": 30,\n                \"minMos\": 4.88252255673013,\n                \"minRFactor\": 92.44855499267578,\n                \"receivedPackets\": 241\n              }\n            ],\n            \"flow\": {\n              \"endingLanguage\": \"en-au\",\n              \"entryReason\": \"tel:+61735238802\",\n              \"entryType\": \"dnis\",\n              \"exitReason\": \"TRANSFER\",\n              \"flowId\": \"d0eac68a-31c4-4c14-971f-386fd0feb802\",\n              \"flowName\": \"LFA Commercial 1300 721 672\",\n              \"flowType\": \"INBOUNDCALL\",\n              \"flowVersion\": \"5.0\",\n              \"startingLanguage\": \"en-au\",\n              \"transferTargetAddress\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n              \"transferTargetName\": \"Commercial\",\n              \"transferType\": \"ACD\",\n              \"outcomes\": [\n                {\n                  \"flowOutcome\": \"7cca8bf2-748f-418a-a8fd-016111dc6193:SUCCESS\",\n                  \"flowOutcomeEndTimestamp\": \"2024-06-18T04:23:36.591Z\",\n                  \"flowOutcomeId\": \"7cca8bf2-748f-418a-a8fd-016111dc6193\",\n                  \"flowOutcomeStartTimestamp\": \"2024-06-18T04:23:36.591Z\",\n                  \"flowOutcomeValue\": \"SUCCESS\"\n                }\n              ]\n            },\n            \"metrics\": [\n              {\n                \"emitDate\": \"2024-06-18T04:23:36.389Z\",\n                \"name\": \"nFlow\",\n                \"value\": 1\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:36.591Z\",\n                \"name\": \"nFlowOutcome\",\n                \"value\": 1\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:36.591Z\",\n                \"name\": \"tFlowOutcome\",\n                \"value\": 1\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:40.543Z\",\n                \"name\": \"tIvr\",\n                \"value\": 4808\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:40.547Z\",\n                \"name\": \"tFlow\",\n                \"value\": 4158\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:40.547Z\",\n                \"name\": \"tFlowExit\",\n                \"value\": 4158\n              }\n            ],\n            \"segments\": [\n              {\n                \"conference\": false,\n                \"segmentEnd\": \"2024-06-18T04:23:35.735Z\",\n                \"segmentStart\": \"2024-06-18T04:23:35.723Z\",\n                \"segmentType\": \"system\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"transfer\",\n                \"segmentEnd\": \"2024-06-18T04:23:40.543Z\",\n                \"segmentStart\": \"2024-06-18T04:23:35.735Z\",\n                \"segmentType\": \"ivr\"\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"participantId\": \"3ecc3e9a-73a8-4189-b1ff-e5df9bfa808e\",\n        \"participantName\": \"Commercial\",\n        \"purpose\": \"acd\",\n        \"sessions\": [\n          {\n            \"agentBullseyeRing\": 1,\n            \"ani\": \"tel:+61439915528\",\n            \"destinationAddresses\": [\n              \"sip:troy%40straticom.com.au@localhost\"\n            ],\n            \"direction\": \"inbound\",\n            \"dnis\": \"tel:+61735238802\",\n            \"edgeId\": \"3f949862-77c5-4b59-b06c-03462ae3b295\",\n            \"flowInType\": \"ivr\",\n            \"mediaType\": \"voice\",\n            \"peerId\": \"e441ce23-3efd-41a6-bd60-de4920f9bb38\",\n            \"protocolCallId\": \"8b64141b-cbdf-4b7f-bb9d-6b8a9258b548\",\n            \"provider\": \"Edge\",\n            \"remote\": \"Mobile Number, Australia\",\n            \"remoteNameDisplayable\": \"Commercial\",\n            \"requestedRoutings\": [\n              \"Bullseye\"\n            ],\n            \"routingRing\": 1,\n            \"selectedAgentId\": \"576a73fe-9507-4b8f-88c7-aee42fd6f26a\",\n            \"sessionDnis\": \"tel:+61735238802\",\n            \"sessionId\": \"f6499408-d258-4468-a49e-d077c4b4a7be\",\n            \"usedRouting\": \"Bullseye\",\n            \"mediaEndpointStats\": [\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"eventTime\": \"2024-06-18T04:23:43.858Z\",\n                \"maxLatencyMs\": 30,\n                \"minMos\": 4.882521209417593,\n                \"minRFactor\": 92.44849395751953,\n                \"receivedPackets\": 159\n              }\n            ],\n            \"flow\": {\n              \"flowId\": \"b5012618-32ba-4885-97f6-28829692a607\",\n              \"flowName\": \"24_7\",\n              \"flowType\": \"INQUEUECALL\",\n              \"flowVersion\": \"4.0\",\n              \"startingLanguage\": \"en-au\"\n            },\n            \"metrics\": [\n              {\n                \"emitDate\": \"2024-06-18T04:23:40.597Z\",\n                \"name\": \"nOffered\",\n                \"value\": 1\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:43.805Z\",\n                \"name\": \"tAcd\",\n                \"value\": 3208\n              }\n            ],\n            \"segments\": [\n              {\n                \"conference\": false,\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:23:40.597Z\",\n                \"segmentStart\": \"2024-06-18T04:23:40.546Z\",\n                \"segmentType\": \"delay\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"transfer\",\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:23:43.805Z\",\n                \"segmentStart\": \"2024-06-18T04:23:40.597Z\",\n                \"segmentType\": \"interact\",\n                \"sipResponseCodes\": [\n                  410\n                ]\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"participantId\": \"bb917d19-7492-4395-a5c5-1effa73a0bb3\",\n        \"purpose\": \"agent\",\n        \"userId\": \"576a73fe-9507-4b8f-88c7-aee42fd6f26a\",\n        \"sessions\": [\n          {\n            \"agentBullseyeRing\": 1,\n            \"ani\": \"tel:+61439915528\",\n            \"direction\": \"inbound\",\n            \"dnis\": \"tel:+61735238802\",\n            \"edgeId\": \"68b8dfa3-a204-4f77-bdaa-55a4363e9d81\",\n            \"mediaType\": \"voice\",\n            \"peerId\": \"e441ce23-3efd-41a6-bd60-de4920f9bb38\",\n            \"protocolCallId\": \"7b89bc02-c2e4-4ad9-b5a3-4402424d0ba8\",\n            \"provider\": \"Edge\",\n            \"remote\": \"Mobile Number, Australia\",\n            \"requestedRoutings\": [\n              \"Bullseye\"\n            ],\n            \"routingRing\": 1,\n            \"selectedAgentId\": \"576a73fe-9507-4b8f-88c7-aee42fd6f26a\",\n            \"sessionDnis\": \"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com;tgrp=dc8038f3-e59d-481f-a102-a05d71624be1;trunk-context=lifeflight@localhost\",\n            \"sessionId\": \"9565382a-7dbb-4c91-a9f2-d85e4a51a4ad\",\n            \"usedRouting\": \"Bullseye\",\n            \"mediaEndpointStats\": [\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"discardedPackets\": 1,\n                \"eventTime\": \"2024-06-18T04:24:00.059Z\",\n                \"maxLatencyMs\": 41,\n                \"minMos\": 4.866829598895403,\n                \"minRFactor\": 91.78073120117188,\n                \"receivedPackets\": 803\n              },\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"eventTime\": \"2024-06-18T04:24:00.081Z\",\n                \"maxLatencyMs\": 40,\n                \"minMos\": 4.876863636974588,\n                \"minRFactor\": 92.20374298095703,\n                \"receivedPackets\": 807\n              }\n            ],\n            \"metrics\": [\n              {\n                \"emitDate\": \"2024-06-18T04:23:43.802Z\",\n                \"name\": \"tAlert\",\n                \"value\": 2989\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:43.802Z\",\n                \"name\": \"tAnswered\",\n                \"value\": 3208\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:59.927Z\",\n                \"name\": \"tTalk\",\n                \"value\": 16125\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:23:59.927Z\",\n                \"name\": \"tTalkComplete\",\n                \"value\": 16125\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:24:03.085Z\",\n                \"name\": \"tAcw\",\n                \"value\": 3158\n              },\n              {\n                \"emitDate\": \"2024-06-18T04:24:03.085Z\",\n                \"name\": \"tHandle\",\n                \"value\": 19283\n              }\n            ],\n            \"segments\": [\n              {\n                \"conference\": false,\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:23:43.802Z\",\n                \"segmentStart\": \"2024-06-18T04:23:40.813Z\",\n                \"segmentType\": \"alert\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"client\",\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:23:59.927Z\",\n                \"segmentStart\": \"2024-06-18T04:23:43.802Z\",\n                \"segmentType\": \"interact\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"client\",\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-18T04:24:03.085Z\",\n                \"segmentStart\": \"2024-06-18T04:23:59.927Z\",\n                \"segmentType\": \"wrapup\",\n                \"wrapUpCode\": \"01066fe3-5355-4cef-b430-258811cfc4f0\"\n              }\n            ]\n          }\n        ]\n      }\n    ]\n  },\n  {\n    \"conversationEnd\": \"2024-06-17T23:28:41.056Z\",\n    \"conversationId\": \"ddb7d3c6-35f9-4752-9558-544bd08f5ab5\",\n    \"conversationStart\": \"2024-06-17T23:28:25.032Z\",\n    \"divisionIds\": [\n      \"7f3b181a-6e3e-4a67-9418-eda0fbce1683\"\n    ],\n    \"externalTag\": \"108281\",\n    \"mediaStatsMinConversationMos\": 4.394630353611898,\n    \"mediaStatsMinConversationRFactor\": 91.56269836425781,\n    \"originatingDirection\": \"outbound\",\n    \"participants\": [\n      {\n        \"participantId\": \"c0c08fb6-5bed-4599-9978-38111fce63a1\",\n        \"purpose\": \"agent\",\n        \"userId\": \"576a73fe-9507-4b8f-88c7-aee42fd6f26a\",\n        \"sessions\": [\n          {\n            \"ani\": \"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost\",\n            \"direction\": \"outbound\",\n            \"dnis\": \"tel:+61439915528\",\n            \"edgeId\": \"68b8dfa3-a204-4f77-bdaa-55a4363e9d81\",\n            \"mediaType\": \"voice\",\n            \"peerId\": \"2d3d4f2d-5e88-486b-806c-caeef94a13b3\",\n            \"protocolCallId\": \"52272186-01a8-47ad-9b4e-95018849b101\",\n            \"provider\": \"Edge\",\n            \"remote\": \"Mobile Number, Australia\",\n            \"sessionDnis\": \"tel:+61439915528\",\n            \"sessionId\": \"4f2ad1da-c7bd-44d6-85b6-6794d4029bd6\",\n            \"mediaEndpointStats\": [\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"discardedPackets\": 2,\n                \"eventTime\": \"2024-06-17T23:28:38.126Z\",\n                \"maxLatencyMs\": 30,\n                \"minMos\": 4.861532247374887,\n                \"minRFactor\": 91.56269836425781,\n                \"receivedPackets\": 631\n              },\n              {\n                \"codecs\": [\n                  \"audio/opus\"\n                ],\n                \"eventTime\": \"2024-06-17T23:28:38.148Z\",\n                \"maxLatencyMs\": 30,\n                \"minMos\": 4.887499075381236,\n                \"minRFactor\": 92.66786193847656,\n                \"receivedPackets\": 471\n              }\n            ],\n            \"metrics\": [\n              {\n                \"emitDate\": \"2024-06-17T23:28:25.032Z\",\n                \"name\": \"nOutbound\",\n                \"value\": 1\n              },\n              {\n                \"emitDate\": \"2024-06-17T23:28:25.388Z\",\n                \"name\": \"tContacting\",\n                \"value\": 356\n              },\n              {\n                \"emitDate\": \"2024-06-17T23:28:28.630Z\",\n                \"name\": \"tDialing\",\n                \"value\": 3242\n              },\n              {\n                \"emitDate\": \"2024-06-17T23:28:38.074Z\",\n                \"name\": \"tTalk\",\n                \"value\": 9444\n              },\n              {\n                \"emitDate\": \"2024-06-17T23:28:38.074Z\",\n                \"name\": \"tTalkComplete\",\n                \"value\": 9444\n              },\n              {\n                \"emitDate\": \"2024-06-17T23:28:41.056Z\",\n                \"name\": \"tAcw\",\n                \"value\": 2982\n              },\n              {\n                \"emitDate\": \"2024-06-17T23:28:41.056Z\",\n                \"name\": \"tHandle\",\n                \"value\": 16024\n              }\n            ],\n            \"segments\": [\n              {\n                \"conference\": false,\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-17T23:28:25.388Z\",\n                \"segmentStart\": \"2024-06-17T23:28:25.032Z\",\n                \"segmentType\": \"contacting\"\n              },\n              {\n                \"conference\": false,\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-17T23:28:28.630Z\",\n                \"segmentStart\": \"2024-06-17T23:28:25.388Z\",\n                \"segmentType\": \"dialing\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"client\",\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-17T23:28:38.074Z\",\n                \"segmentStart\": \"2024-06-17T23:28:28.630Z\",\n                \"segmentType\": \"interact\"\n              },\n              {\n                \"conference\": false,\n                \"disconnectType\": \"client\",\n                \"queueId\": \"2581d1f1-9044-40dd-a993-27f9b9d69a17\",\n                \"segmentEnd\": \"2024-06-17T23:28:41.056Z\",\n                \"segmentStart\": \"2024-06-17T23:28:38.074Z\",\n                \"segmentType\": \"wrapup\",\n                \"wrapUpCode\": \"01066fe3-5355-4cef-b430-258811cfc4f0\"\n              }\n            ]\n          }\n        ]\n      },\n      {\n        \"externalContactId\": \"8164a49c-8ca7-4986-bde5-5a979a56710b\",\n        \"participantId\": \"367b46ce-c752-4a72-8ef2-bedecea49e32\",\n        \"participantName\": \"Mobile Number, Australia\",\n        \"purpose\": \"customer\",\n        \"sessions\": [\n          {\n            \"ani\": \"sip:65f0f75c9775701be53e596e+lifeflight.orgspan.com@localhost\",\n            \"direction\": \"outbound\",\n            \"dnis\": \"tel:+61439915528\",\n            \"edgeId\": \"3f949862-77c5-4b59-b06c-03462ae3b295\",\n            \"mediaType\": \"voice\",\n            \"protocolCallId\": \"bf3c42d0-3fa0-4c3f-ba4b-5930227e8ba8\",\n            \"provider\": \"Edge\",\n            \"recording\": true,\n            \"remoteNameDisplayable\": \"Mobile Number, Australia\",\
[...]
